<!-- Page Contents -->
<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Budgets Expenses</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="routes.adminDashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Accounts</li>
        </ul>
      </div>
      <div class="col-auto float-end ms-auto">
        <a href="javascript:void(0);" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_categories"><i
            class="fa-solid fa-plus"></i> Add Expenses</a>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-md-12">
      <div class="table_header">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="dataTables_length">
              <label>
                Show
                <select [(ngModel)]="pageSize" (ngModelChange)="changePageSize()" class="form-control form-control-sm">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                Entries
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="dataTables_filter">
              <label>
                Search:
                <input [(ngModel)]="searchDataValue" (ngModelChange)="searchData(searchDataValue)"
                  class="form-control form-control-sm" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table matSort (matSortChange)="sortData($event)" class="table table-striped custom-table mb-0">
          <thead>
            <tr>
              <th mat-sort-header="id">No</th>
              <th mat-sort-header="notes">Notes</th>
              <th mat-sort-header="categoryname">Category Name</th>
              <th mat-sort-header="subcategoryname">SubCategory Name</th>
              <th mat-sort-header="amount">Amount</th>
              <th mat-sort-header="revenuedate">Revenue Date</th>
              <th class="text-end">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of lstRevenue">
              <td>{{ item.id }}</td>
              <td>{{ item.notes }}</td>
              <td>{{ item.categoryname }}</td>
              <td>{{ item.subcategoryname }}</td>
              <td>{{ item.amount }}</td>
              <td>{{ item.revenuedate }}</td>
              <td class="text-end">
                <div class="dropdown dropdown-action">
                  <a href="javascript:void(0);" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="material-icons">more_vert</i></a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal"
                      data-bs-target="#edit_categories"><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                    <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal"
                      data-bs-target="#delete"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngIf="lstRevenue.length === 0">
              <td colspan="10">
                <h5 style="text-align: center">No data found</h5>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table_footer">
        <div class="col-sm-12 col-md-5">
          <div class="dataTables_info">
            Showing {{ serialNumberArray[0] }} to
            {{ serialNumberArray[serialNumberArray.length - 1] }} of
            {{ totalData }} entries
          </div>
        </div>

        <div class="col-sm-12 col-md-7">
          <div class="pagination_section">
            <ul class="pagination">
              <li class="page-item" [ngClass]="{
                  disabled: currentPage === 1
                }">
                <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);"
                  tabindex="-1">Previous</a>
              </li>

              <ng-container *ngFor="let item of pageNumberArray; let i = index">
                <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                    (pageNumberArray[currentPage - 2] > item &&
                      item !== 1 &&
                      pageNumberArray.length > 6) ||
                    (pageNumberArray[currentPage] < item &&
                      item !== 1 &&
                      pageNumberArray.length > 6 &&
                      pageNumberArray.length !== item)
                      ? 'hide-page-no'
                      : 'show-page-no'
                  ">
                  <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                    {{ item }}
                  </a>
                </li>
                <li class="page-item" *ngIf="
                    i === 0 && pageNumberArray.length > 6 && currentPage > 2
                  " [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)" (keydown.enter)="moveToPage(currentPage - 2)" tabindex="0">
                  <a class="page-link" href="javascript:void(0);"> ... </a>
                </li>
                <li *ngIf="
                    i === pageNumberArray.length - 2 &&
                    pageNumberArray.length > 6
                  " [hidden]="
                    currentPage >=
                      pageNumberArray[pageNumberArray.length - 2] ||
                    totalData < serialNumberArray[serialNumberArray.length - 1]
                  " class="page-item" (click)="moveToPage(currentPage + 2)" (keydown.enter)="moveToPage(currentPage + 2)" tabindex="0">
                  <a class="page-link" href="javascript:void(0);"> ... </a>
                </li>
              </ng-container>

              <li class="page-item" [ngClass]="{
                  disabled:
                    currentPage ===
                      pageNumberArray[pageNumberArray.length - 1] ||
                    lstRevenue.length === 0
                }">
                <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);">Next
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->
<!-- Add Modal -->
<div class="modal custom-modal fade" id="add_categories" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Expenses</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addRevenueForm">
          <div class="input-block mb-3 form-row row">
            <label for="" class="col-lg-12 control-label col-form-label">Amount <span class="text-danger">*</span></label>
            <div class="col-lg-6">
              <input type="text" class="form-control" placeholder="800.00" name="amount" [class.invalid]="
                  addRevenueForm.get('RevenueName')?.invalid &&
                  addRevenueForm.get('RevenueName')?.touched
                " formControlName="RevenueName" />
              <div *ngIf="
                  addRevenueForm.get('RevenueName')?.invalid &&
                  addRevenueForm.get('RevenueName')?.touched
                ">
                <small *ngIf="
                    addRevenueForm.get('RevenueName')?.invalid &&
                    addRevenueForm.get('RevenueName')?.touched
                  " class="text-danger">
                  *Amount required</small>
              </div>
            </div>
            <div class="col-lg-6">
              <select name="currency_symbol" class="form-control form-select">
                <option value="$ - AUD">$ - Australian Dollar</option>
                <option value="Bs. - VEF">Bs. - Bolívar Fuerte</option>
                <option value="R$ - BRL">R$ - Brazilian Real</option>
                <option value="£ - GBP">£ - British Pound</option>
                <option value="$ - CAD">$ - Canadian Dollar</option>
              </select>
            </div>
          </div>
          <div class="input-block mb-3 form-row">
            <label for="" class="col-lg-12 control-label col-form-label">Notes <span class="text-danger">*</span></label>
            <div class="col-lg-12">
              <textarea class="form-control ta" name="notes" [class.invalid]="
                  addRevenueForm.get('RevenueNotes')?.invalid &&
                  addRevenueForm.get('RevenueNotes')?.touched
                " formControlName="RevenueNotes"></textarea>
            </div>
            <div *ngIf="
                addRevenueForm.get('RevenueNotes')?.invalid &&
                addRevenueForm.get('RevenueNotes')?.touched
              ">
              <small *ngIf="
                  addRevenueForm.get('RevenueNotes')?.invalid &&
                  addRevenueForm.get('RevenueNotes')?.touched
                " class="text-danger">
                *Revenue Notes required</small>
            </div>
          </div>
          <div class="input-block mb-3 form-row">
            <label for="" class="col-lg-12 control-label col-form-label">Expense Date <span
                class="text-danger">*</span></label>
            <div class="col-lg-12 date-input">
              <input class="datepicker-input form-control" type="text" bsDatepicker container=".date-input" value="07-05-2023"
                name="expense_date" data-date-format="dd-mm-yyyy" [class.invalid]="
                  addRevenueForm.get('RevenueDate')?.invalid &&
                  addRevenueForm.get('RevenueDate')?.touched
                " formControlName="RevenueDate" />
            </div>
            <div *ngIf="
                addRevenueForm.get('RevenueDate')?.invalid &&
                addRevenueForm.get('RevenueDate')?.touched
              ">
              <small *ngIf="
                  addRevenueForm.get('RevenueDate')?.invalid &&
                  addRevenueForm.get('RevenueDate')?.touched
                " class="text-danger">
                *Expense date required</small>
            </div>
          </div>
          <div class="input-block mb-3 form-row">
            <label for="" class="col-lg-12 control-label col-form-label">Category <span class="text-danger">*</span></label>
            <div class="col-lg-12">
              <select name="category" class="form-control m-b form-select" id="main_category">
                <option value="" disabled="" selected="">
                  Choose Category
                </option>
                <option value="1">project1</option>
                <option value="3">test category</option>
                <option value="4">Hardware</option>
                <option value="5">Material</option>
                <option value="6">Vehicle</option>
                <option value="8">TestctrE</option>
                <option value="9">Twocatr</option>
                <option value="10">fesferwf</option>
              </select>
            </div>
          </div>
          <div class="input-block mb-3 form-row">
            <label for="" class="col-lg-12 control-label col-form-label">Sub Category <span
                class="text-danger">*</span></label>
            <div class="col-lg-12">
              <select name="sub_category" class="form-control m-b form-select" id="sub_category">
                <option value="">Choose Sub-Category</option>
              </select>
            </div>
          </div>
          <div class="input-block mb-3 form-row position-relative">
            <label for="" class="col-lg-12 control-label col-form-label">Attach File</label>
            <div class="col-lg-12">
              <input type="file" class="form-control" data-buttontext="Choose File" data-icon="false"
                data-classbutton="btn btn-default" data-classinput="form-control inline input-s" name="receipt" />
            </div>
          </div>
          <div class="submit-section">
            <button class="btn btn-primary submit-btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Add Modal -->

<!-- Edit Modal -->
<div class="modal custom-modal fade" id="edit_categories" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Expenses</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editRevenueForm">
          <div class="input-block mb-3 form-row row">
            <label for="" class="col-lg-12 control-label col-form-label">Amount <span class="text-danger">*</span></label>
            <div class="col-lg-6">
              <input type="text" class="form-control" placeholder="800.00" name="amount" [class.invalid]="
                  addRevenueForm.get('RevenueName')?.invalid &&
                  addRevenueForm.get('RevenueName')?.touched
                " formControlName="RevenueName" />
              <div *ngIf="
                  addRevenueForm.get('RevenueName')?.invalid &&
                  addRevenueForm.get('RevenueName')?.touched
                ">
                <small *ngIf="
                    addRevenueForm.get('RevenueName')?.invalid &&
                    addRevenueForm.get('RevenueName')?.touched
                  " class="text-danger">
                  *Amount required</small>
              </div>
            </div>
            <div class="col-lg-6">
              <select name="currency_symbol" class="form-control form-select">
                <option value="$ - AUD">$ - Australian Dollar</option>
                <option value="Bs. - VEF">Bs. - Bolívar Fuerte</option>
                <option value="R$ - BRL">R$ - Brazilian Real</option>
                <option value="£ - GBP">£ - British Pound</option>
                <option value="$ - CAD">$ - Canadian Dollar</option>
              </select>
            </div>
          </div>
          <div class="input-block mb-3 form-row">
            <label for="" class="col-lg-12 control-label">Notes <span class="text-danger">*</span></label>
            <div class="col-lg-12">
              <textarea class="form-control ta" name="notes" [class.invalid]="
                  editRevenueForm.get('RevenueNotes')?.invalid &&
                  editRevenueForm.get('RevenueNotes')?.touched
                " formControlName="RevenueNotes"></textarea>
            </div>
            <div *ngIf="
                editRevenueForm.get('RevenueNotes')?.invalid &&
                editRevenueForm.get('RevenueNotes')?.touched
              ">
              <small *ngIf="
                  editRevenueForm.get('RevenueNotes')?.invalid &&
                  editRevenueForm.get('RevenueNotes')?.touched
                " class="text-danger">
                *Revenue Notes required</small>
            </div>
          </div>
          <div class="input-block mb-3 form-row">
            <label for="" class="col-lg-12 control-label col-form-label">Expense Date <span
                class="text-danger">*</span></label>
            <div class="col-lg-12 date-input">
              <input class="datepicker-input form-control" type="text" bsDatepicker value="07-05-2023" container=".date-input2"
                name="expense_date" data-date-format="dd-mm-yyyy" [class.invalid]="
                  editRevenueForm.get('RevenueDate')?.invalid &&
                  editRevenueForm.get('RevenueDate')?.touched
                " formControlName="RevenueDate" />
            </div>
            <div *ngIf="
                editRevenueForm.get('RevenueDate')?.invalid &&
                editRevenueForm.get('RevenueDate')?.touched
              ">
              <small *ngIf="
                  editRevenueForm.get('RevenueDate')?.invalid &&
                  editRevenueForm.get('RevenueDate')?.touched
                " class="text-danger">
                *Expense date required</small>
            </div>
          </div>
          <div class="input-block mb-3 form-row">
            <label for="" class="col-lg-12 control-label col-form-label">Category <span class="text-danger">*</span></label>
            <div class="col-lg-12">
              <select name="category" class="form-control m-b form-select" id="main_category1">
                <option value="" disabled="" selected="">
                  Choose Category
                </option>
                <option value="1">project1</option>
                <option value="3">test category</option>
                <option value="4">Hardware</option>
                <option value="5">Material</option>
                <option value="6">Vehicle</option>
                <option value="8">TestctrE</option>
                <option value="9">Twocatr</option>
                <option value="10">fesferwf</option>
              </select>
            </div>
          </div>
          <div class="input-block mb-3 form-row">
            <label for="" class="col-lg-12 control-label col-form-label">Sub Category <span
                class="text-danger">*</span></label>
            <div class="col-lg-12">
              <select name="sub_category" class="form-control m-b form-select" id="sub_category1">
                <option value="">Choose Sub-Category</option>
              </select>
            </div>
          </div>
          <div class="input-block mb-3 form-row position-relative">
            <label for="" class="col-lg-12 control-label col-form-label">Attach File</label>
            <div class="col-lg-12">
              <input type="file" class="form-control" data-buttontext="Choose File" data-icon="false"
                data-classbutton="btn btn-default" data-classinput="form-control inline input-s" name="receipt" />
            </div>
          </div>
          <div class="submit-section">
            <button class="btn btn-primary submit-btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Edit Modal -->

<!-- Delete Holiday Modal -->
<div class="modal custom-modal fade" id="delete" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header">
          <h3>Delete</h3>
          <p>Are you sure want to delete?</p>
        </div>
        <div class="modal-btn delete-action">
          <div class="row">
            <div class="col-6">
              <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
            </div>
            <div class="col-6">
              <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Delete Holiday Modal -->