<div class="account-page">
  <div class="main-wrapper">
<div class="account-content">
    <div class="container">
      <!-- Account Logo -->
      <div class="account-logo">
        <a [routerLink]="'/layout/dashboard/admin'"
          ><img src="assets/img/logo2.png" alt="Dreamguy's Technologies"
        /></a>
      </div>
      <!-- /Account Logo -->
  
      <div class="account-box">
        <div class="account-wrapper">
          <h3 class="account-title">Forgot Password?</h3>
          <p class="account-subtitle">
            Enter your email to get a password reset link
          </p>
  
          <!-- Account Form -->
          <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="input-block mb-3">
              <label class="col-form-label" for="">Email Address</label>
              <input class="form-control" type="text" formControlName="email" id="email"/>
                <div *ngIf="f['email'].touched && f['email'].invalid" class="text-danger">
                    <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
                    <div *ngIf="f['email'].errors && f['email'].errors['email']">Please, enter valid email address.</div>
                </div>
                <div *ngIf='CustomControler !==0' class="text-danger">
                    {{CustomControler}}
                </div>
            </div>
            <div class="input-block mb-3 text-center">
              <button class="btn btn-primary account-btn" [disabled]="form.invalid" type="submit">Reset Password</button>
            </div>
            <div class="account-footer">
              <p>
                Remember your password? <a [routerLink]="routes.login">Login</a>
              </p>
            </div>
          </form>
          <!-- /Account Form -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>
  