<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Taxes</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active">Taxes</li>
                </ul>
            </div>
            <div class="col-auto float-end ms-auto">
                <a class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_tax"><i class="fa-solid fa-plus"></i>
                    Add Tax</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table matSort (matSortChange)="sortData($event)" class="table table-striped custom-table mb-0">
                    <thead>
                        <tr>
                            <th  mat-sort-header="id">#</th>
                            <th  mat-sort-header="taxName">Tax Name </th>
                            <th  mat-sort-header="taxPercentage">Tax Percentage (%) </th>
                            <th>Status</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let taxes of allTaxes;let i = index">
                            <td>{{ i + 1}}</td>
                            <td>{{taxes.taxName}}</td>
                            <td>{{taxes.taxPercentage}}</td>
                            <td>
                                <div class="dropdown action-label">
                                    <a class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-regular fa-circle-dot "[ngClass]="{'text-success': taxes.status === 'Active','text-danger':taxes.status === 'Inactive'}"></i> {{taxes.status}}
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"><i class="fa-regular fa-circle-dot text-success me-1"></i>
                                            Active</a>
                                        <a class="dropdown-item"><i class="fa-regular fa-circle-dot text-danger me-1"></i>
                                            Inactive</a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-end">
                                <div class="dropdown dropdown-action">
                                    <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#edit_tax"><i
                                                class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#delete_tax"><i
                                                class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="allTaxes.length === 0">
                            <td colspan="10">
                                <h5 style="text-align: center;">No data found</h5>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
<!-- Add Tax Modal -->
<div id="add_tax" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Tax</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form  [formGroup]="addTaxes">
                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Tax Name <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"  [class.invalid]="addTaxes.get('taxName')?.invalid && addTaxes.get('taxName')?.touched"
                        formControlName="taxName">
                        <div
                        *ngIf="addTaxes.get('taxName')?.invalid && addTaxes.get('taxName')?.touched">
                        <small
                            *ngIf="addTaxes.get('taxName')?.invalid && addTaxes.get('taxName')?.touched"
                            class="text-danger"> *Tax name is required</small>
                    </div>
                    </div>
                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Tax Percentage (%) <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"  [class.invalid]="addTaxes.get('taxpercentage')?.invalid && addTaxes.get('taxpercentage')?.touched"
                        formControlName="taxpercentage">
                        <div
                        *ngIf="addTaxes.get('taxpercentage')?.invalid && addTaxes.get('taxpercentage')?.touched">
                        <small
                            *ngIf="addTaxes.get('taxpercentage')?.invalid && addTaxes.get('taxpercentage')?.touched"
                            class="text-danger"> *Tax percentage is required</small>
                    </div>
                    </div>
                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Status <span class="text-danger">*</span></label>
                        <mat-select  class="form-control" placeholder="Pending">
                            <mat-option value="pending">Pending</mat-option>
                            <mat-option value="approved">Approved</mat-option>
                        </mat-select>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Tax Modal -->

<!-- Edit Tax Modal -->
<div id="edit_tax" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Tax</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form  [formGroup]="editTaxForm">
                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Tax Name <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" [class.invalid]="editTaxForm.get('editTaxName')?.invalid && editTaxForm.get('editTaxName')?.touched"
                        formControlName="editTaxName" >
                        <div
                                    *ngIf="editTaxForm.get('editTaxName')?.invalid && editTaxForm.get('editTaxName')?.touched">
                                    <small
                                        *ngIf="editTaxForm.get('editTaxName')?.invalid && editTaxForm.get('editTaxName')?.touched"
                                        class="text-danger"> *Tax name is required</small>
                                </div>
                    </div>
                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Tax Percentage (%) <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"  [class.invalid]="editTaxForm.get('editTaxPercentage')?.invalid && editTaxForm.get('editTaxPercentage')?.touched"
                        formControlName="editTaxPercentage">
                        <div
                        *ngIf="editTaxForm.get('editTaxPercentage')?.invalid && editTaxForm.get('editTaxPercentage')?.touched">
                        <small
                            *ngIf="editTaxForm.get('editTaxPercentage')?.invalid && editTaxForm.get('editTaxPercentage')?.touched"
                            class="text-danger"> *Tax percentage is required</small>
                    </div>
                    </div>
                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Status <span class="text-danger">*</span></label>
                        <mat-select  class="form-control" placeholder="Active">
                            <mat-option value="active">Active</mat-option>
                            <mat-option value="inactive">Inactive</mat-option>
                        </mat-select>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Tax Modal -->

<!-- Delete Tax Modal -->
<div class="modal custom-modal fade" id="delete_tax" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Tax</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a  class="btn btn-primary continue-btn"  >Delete</a>
                        </div>
                        <div class="col-6">
                            <a  data-bs-dismiss="modal"
                                class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Tax Modal -->