  <!-- Page Content -->
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Leads</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="'/dashboard/admin'">Dashboard</a></li>
                    <li class="breadcrumb-item active">Leads</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table_header">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length">
                            <label>
                                Show
                                <select [(ngModel)]="pageSize" (ngModelChange)="changePageSize()"
                                    class="form-control form-control-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                Entries
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table matSort (matSortChange)="sortData($event)"
                    class="table table-striped table-nowrap custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th mat-sort-header="leaderName">Lead Name</th>
                            <th mat-sort-header="email">Email</th>
                            <th mat-sort-header="phone">Phone</th>
                            <th mat-sort-header="project">Project</th>
                            <th>Assigned Staff</th>
                            <th>Status</th>
                            <th>Created</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let leads of allLeads;let i = index">
                            <td>{{i}}</td>
                            <td>
                                <h2 class="table-avatar">
                                    <a [routerLink]="'/employees/employee-profile'" class="avatar"><img alt=""
                                            src="assets/img/profiles/avatar-{{i+ 1}}.jpg"></a>
                                    <a [routerLink]="'/employees/employee-profile'">{{leads.leadName}}</a>
                                </h2>
                            </td>
                            <td>{{leads.email}}</td>
                            <td>{{leads.phone}}</td>
                            <td><a routerLink="/layout/projects/projectview/{{leads.id}}">{{leads.project}}</a></td>
                            <td>
                                <ul class="team-members">
                                    <li>
                                        <a [routerLink]="'/employees/employee-profile'" title="John Doe"
                                            data-bs-toggle="tooltip"><img alt=""
                                                src="assets/img/profiles/avatar-2.jpg"></a>
                                    </li>
                                    <li>
                                        <a [routerLink]="'/employees/employee-profile'" title="Richard Miles"
                                            data-bs-toggle="tooltip"><img alt=""
                                                src="assets/img/profiles/avatar-9.jpg"></a>
                                    </li>
                                    <li class="dropdown avatar-dropdown">
                                        <a class="all-users dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false">+15</a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <div class="avatar-group">
                                                <a class="avatar avatar-xs"
                                                    [routerLink]="'/employees/employee-profile'">
                                                    <img alt="" src="assets/img/profiles/avatar-2.jpg">
                                                </a>
                                                <a class="avatar avatar-xs"
                                                    [routerLink]="'/employees/employee-profile'">
                                                    <img alt="" src="assets/img/profiles/avatar-9.jpg">
                                                </a>
                                                <a class="avatar avatar-xs"
                                                    [routerLink]="'/employees/employee-profile'">
                                                    <img alt="" src="assets/img/profiles/avatar-10.jpg">
                                                </a>
                                                <a class="avatar avatar-xs"
                                                    [routerLink]="'/employees/employee-profile'">
                                                    <img alt="" src="assets/img/profiles/avatar-5.jpg">
                                                </a>
                                                <a class="avatar avatar-xs"
                                                    [routerLink]="'/employees/employee-profile'">
                                                    <img alt="" src="assets/img/profiles/avatar-11.jpg">
                                                </a>
                                                <a class="avatar avatar-xs"
                                                    [routerLink]="'/employees/employee-profile'">
                                                    <img alt="" src="assets/img/profiles/avatar-12.jpg">
                                                </a>
                                                <a class="avatar avatar-xs"
                                                    [routerLink]="'/employees/employee-profile'">
                                                    <img alt="" src="assets/img/profiles/avatar-13.jpg">
                                                </a>
                                                <a class="avatar avatar-xs"
                                                    [routerLink]="'/employees/employee-profile'">
                                                    <img alt="" src="assets/img/profiles/avatar-1.jpg">
                                                </a>
                                                <a class="avatar avatar-xs"
                                                    [routerLink]="'/employees/employee-profile'">
                                                    <img alt="" src="assets/img/profiles/avatar-16.jpg">
                                                </a>
                                            </div>
                                            <div class="avatar-pagination">
                                                <ul class="pagination">
                                                    <li class="page-item">
                                                        <a class="page-link" aria-label="Previous">
                                                            <span aria-hidden="true">«</span>
                                                            <span class="visually-hidden">Previous</span>
                                                        </a>
                                                    </li>
                                                    <li class="page-item"><a class="page-link">1</a></li>
                                                    <li class="page-item"><a class="page-link">2</a></li>
                                                    <li class="page-item">
                                                        <a class="page-link" aria-label="Next">
                                                            <span aria-hidden="true">»</span>
                                                            <span class="visually-hidden">Next</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </td>
                            <td><span class="badge bg-inverse-success">{{leads.status}}</span></td>
                            <td>{{leads.created}}</td>
                            <td class="text-end">
                                <div class="dropdown dropdown-action">
                                    <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#edit_ticket"><i
                                                class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item" data-bs-toggle="modal"
                                            data-bs-target="#delete_ticket"><i class="fa-regular fa-trash-can m-r-5"></i>
                                            Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="allLeads.length === 0">
                            <td colspan="10">
                                <h5 style="text-align: center;">No data found</h5>
                            </td>
                          </tr>
                    </tbody>
                </table>
            </div>
            <div class="table_footer">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info">
                        Showing {{ serialNumberArray[0] }} to
                        {{ serialNumberArray[serialNumberArray.length - 1] }} of
                        {{ totalData }} entries
                    </div>
                </div>

                <div class="col-sm-12 col-md-7">
                    <div class="pagination_section">
                        <ul class="pagination">
                            <li class="page-item" [ngClass]="{
                      disabled: currentPage === 1
                    }">
                                <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);"
                                    tabindex="-1">Previous</a>
                            </li>

                            <ng-container *ngFor="let item of pageNumberArray; let i = index">
                                <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                        (pageNumberArray[currentPage - 2] > item &&
                          item !== 1 &&
                          pageNumberArray.length > 6) ||
                        (pageNumberArray[currentPage] < item &&
                          item !== 1 &&
                          pageNumberArray.length > 6 &&
                          pageNumberArray.length !== item)
                          ? 'hide-page-no'
                          : 'show-page-no'
                      ">
                                    <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                                        {{ item }}
                                    </a>
                                </li>
                                <li class="page-item" *ngIf="
                        i === 0 && pageNumberArray.length > 6 && currentPage > 2
                      " [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)" (keydown.enter)="moveToPage(currentPage - 2)" tabindex="0">
                                    <a class="page-link" href="javascript:void(0);"> ... </a>
                                </li>
                                <li *ngIf="
                        i === pageNumberArray.length - 2 &&
                        pageNumberArray.length > 6
                      " [hidden]="
                        currentPage >=
                          pageNumberArray[pageNumberArray.length - 2] ||
                        totalData < serialNumberArray[serialNumberArray.length - 1]
                      " class="page-item" (click)="moveToPage(currentPage + 2)" (keydown.enter)="moveToPage(currentPage + 2)" tabindex="0">
                                    <a class="page-link" href="javascript:void(0);"> ... </a>
                                </li>
                            </ng-container>

                            <li class="page-item" [ngClass]="{
                      disabled:
                        currentPage ===
                          pageNumberArray[pageNumberArray.length - 1] ||
                        allLeads.length === 0
                    }">
                                <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);">Next
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>