<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Estimates</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="'/dashboard/admin'">Dashboard</a></li>
                    <li class="breadcrumb-item active">Estimates</li>
                </ul>
            </div>
            <div class="col-auto float-end ms-auto">
                <a [routerLink]="'/sales/create-estimate'" class="btn add-btn"><i class="fa-solid fa-plus"></i> Create
                    Estimate</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3">
            <div class="input-block mb-3 form-focus inputs">
                <mat-form-field class="example-full-width cal-icon">
                    <mat-label>From</mat-label>
                    <input  bsDatepicker type="text" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="input-block mb-3 form-focus inputs">
                <mat-form-field class="example-full-width cal-icon">
                    <mat-label>To</mat-label>
                    <input  bsDatepicker type="text" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="input-block mb-3 form-focus select-focus select">
                <mat-form-field appearance="fill">
                  <mat-label>Status</mat-label>
                  <mat-select [(value)]="selected1">
                    <mat-option value="option1"> Select Status </mat-option>
                    <mat-option value="option2">Accepted</mat-option>
                    <mat-option value="option3">Declined</mat-option>
                    <mat-option value="option4">Expired</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <a class="btn btn-success w-100"> Search </a>
        </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
        <div class="col-md-12">
            <div class="table_header">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length">
                            <label>
                                Show
                                <select [(ngModel)]="pageSize" (ngModelChange)="changePageSize()"
                                    class="form-control form-control-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                Entries
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_filter">
                            <label>
                                Search:
                                <input [(ngModel)]="searchDataValue" (ngModelChange)="searchData(searchDataValue)"
                                    class="form-control form-control-sm" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table matSort (matSortChange)="sortData($event)" class="table table-striped custom-table mb-0">
                    <thead>
                        <tr>
                            <th mat-sort-header="number">Estimate Number</th>
                            <th mat-sort-header="client">Client</th>
                            <th mat-sort-header="estimate_date">Estimate Date</th>
                            <th mat-sort-header="expiry_date">Expiry Date</th>
                            <th mat-sort-header="grandTotal">Amount</th>
                            <th mat-sort-header="status">Status</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let estimate of estimates">
                            <td><a [routerLink]="'/sales/estimate-view'">{{estimate.number}}</a></td>
                            <td>{{estimate.client}}</td>
                            <td>{{estimate.estimate_date }}</td>
                            <td>{{estimate.expiry_date }}</td>
                            <td>{{estimate.grandTotal}}</td>
                            <td>
                                <span class="badge" [ngClass]="{'bg-inverse-success': estimate.status === 'Accepted', 'bg-inverse-danger': estimate.status === 'Declined', 'bg-inverse-info': estimate.status === 'Sent','bg-inverse-warning': estimate.status === 'Expired'}">{{estimate.status}}</span>
                            </td>
                            <td class="text-end">
                                <div class="dropdown dropdown-action">
                                    <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" [routerLink]="'/sales/edit-estimate'"
                                            [queryParams]="{id: estimate.id}"><i class="fa-solid fa-pencil m-r-5"></i>
                                            Edit</a>
                                        <a class="dropdown-item" data-bs-toggle="modal"
                                            data-bs-target="#delete_estimate"><i class="fa-regular fa-trash-can m-r-5"></i>
                                            Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="estimates.length === 0">
                            <td colspan="10">
                                <h5 style="text-align: center;">No data found</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table_footer">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info">
                        Showing {{ serialNumberArray[0] }} to
                        {{ serialNumberArray[serialNumberArray.length - 1] }} of
                        {{ totalData }} entries
                    </div>
                </div>

                <div class="col-sm-12 col-md-7">
                    <div class="pagination_section">
                        <ul class="pagination">
                            <li class="page-item" [ngClass]="{
                          disabled: currentPage === 1
                        }">
                                <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);"
                                    tabindex="-1">Previous</a>
                            </li>

                            <ng-container *ngFor="let item of pageNumberArray; let i = index">
                                <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                            (pageNumberArray[currentPage - 2] > item &&
                              item !== 1 &&
                              pageNumberArray.length > 6) ||
                            (pageNumberArray[currentPage] < item &&
                              item !== 1 &&
                              pageNumberArray.length > 6 &&
                              pageNumberArray.length !== item)
                              ? 'hide-page-no'
                              : 'show-page-no'
                          ">
                                    <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                                        {{ item }}
                                    </a>
                                </li>
                                <li class="page-item" *ngIf="
                            i === 0 && pageNumberArray.length > 6 && currentPage > 2
                          " [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)" (keydown.enter)="moveToPage(currentPage - 2)" tabindex="0">
                                    <a class="page-link" href="javascript:void(0);"> ... </a>
                                </li>
                                <li *ngIf="
                            i === pageNumberArray.length - 2 &&
                            pageNumberArray.length > 6
                          " [hidden]="
                            currentPage >=
                              pageNumberArray[pageNumberArray.length - 2] ||
                            totalData < serialNumberArray[serialNumberArray.length - 1]
                          " class="page-item" (click)="moveToPage(currentPage + 2)" (keydown.enter)="moveToPage(currentPage + 2)" tabindex="0">
                                    <a class="page-link" href="javascript:void(0);"> ... </a>
                                </li>
                            </ng-container>

                            <li class="page-item" [ngClass]="{
                          disabled:
                            currentPage ===
                              pageNumberArray[pageNumberArray.length - 1] ||
                            estimates.length === 0
                        }">
                                <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);">Next
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->


<!-- Delete Estimate Modal -->
<div class="modal custom-modal fade" id="delete_estimate" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Estimate</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a class="btn btn-primary continue-btn" data-bs-dismiss="modal">Delete</a>
                        </div>
                        <div class="col-6">
                            <a data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Estimate Modal -->