<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true" #userModal>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userModalLabel">{{ isEditMode ? 'Edit Backlog' : 'Create Backlog' }}</h5>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="submitForm()">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="titre" class="form-label">Titre</label>
                            <input [readonly]="isEditMode" type="text" class="form-control" id="titre" formControlName="titre" placeholder="Input text">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" formControlName="description" placeholder="Input text" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="status" class="form-label">Status</label>
                            <select class="form-select" id="statut" formControlName="statut">
                                <option value="pending" selected>Pending</option>
                                <option value="started">Started</option>
                                <option value="done">Done</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="manager" class="form-label">Responsable</label>
                        <ng-select class="form-control" [items]="users"
                                   bindLabel="username"
                                   bindValue="id"
                                   formControlName="responsable"
                                   [searchable]="true">
                        </ng-select>
                      </div>
                    <div class="mb-3">
                        <label for="priority" class="form-label">Priority</label>
                        <select class="form-select" id="priority" formControlName="priority">
                          <option *ngFor="let i of priorityRange" [value]="i">{{ i }}</option>
                        </select>
                      </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
                        <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Save' : 'Add' }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  