<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Experience Level</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard</a></li>
                    <li class="breadcrumb-item">Jobs</li>
                    <li class="breadcrumb-item active">Experience Level</li>
                </ul>
            </div>
            <div class="col-auto float-end ms-auto">
                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#add_employee" class="btn add-btn"> Add Experience
                    Level</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table_header">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length">
                      <label class="col-form-label" for="">
                        Show
                        <select
                          [(ngModel)]="pageSize"
                          (ngModelChange)="changePageSize()"
                          class="form-control form-control-sm"
                        >
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                        Entries
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            <div class="table-responsive">
                <table matSort
                (matSortChange)="sortData($event)" class="table table-striped custom-table datatable mb-0">
                    <thead>
                        <tr>
                            <th mat-sort-header="id">#</th>
                            <th mat-sort-header="experience">Experiance</th>
                            <th mat-sort-header="status">Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of lstExpire">
                            <td>{{item.id}}</td>
                            <td>{{item.experience}}</td>
                            <td>
                                <div class="action-label">
                                    <a class="btn btn-white btn-sm btn-rounded" href="javascript:void(0);">
                                        <i class="fa-regular fa-circle-dot text-success"></i> {{item.status}} </a>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="dropdown dropdown-action">
                                    <a href="javascript:void(0);" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal"
                                            data-bs-target="#edit_job"><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal"
                                            data-bs-target="#delete_job"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="lstExpire.length === 0">
                          <td colspan="10">
                            <h5 style="text-align: center;">No data found</h5>
                          </td>
                          </tr> 
                    </tbody>
                </table>
            </div>
            <div class="table_footer">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info">
                    Showing {{ serialNumberArray[0] }} to
                    {{ serialNumberArray[serialNumberArray.length - 1] }} of
                    {{ totalData }} entries
                  </div>
                </div>
        
                <div class="col-sm-12 col-md-7">
                  <div class="pagination_section">
                    <ul class="pagination">
                      <li
                        class="page-item"
                        [ngClass]="{
                          disabled: currentPage === 1
                        }"
                      >
                        <a
                          (click)="getMoreData('previous')"
                          class="page-link"
                          href="javascript:void(0);"
                          tabindex="-1"
                          >Previous</a
                        >
                      </li>
        
                      <ng-container *ngFor="let item of pageNumberArray; let i = index">
                        <li
                          class="page-item"
                          [class.active]="item === currentPage"
                          [ngClass]="
                            (pageNumberArray[currentPage - 2] > item &&
                              item !== 1 &&
                              pageNumberArray.length > 6) ||
                            (pageNumberArray[currentPage] < item &&
                              item !== 1 &&
                              pageNumberArray.length > 6 &&
                              pageNumberArray.length !== item)
                              ? 'hide-page-no'
                              : 'show-page-no'
                          "
                        >
                          <a
                            (click)="moveToPage(item)"
                            class="page-link"
                            href="javascript:void(0);"
                          >
                            {{ item }}
                          </a>
                        </li>
                        <li
                          class="page-item"
                          *ngIf="
                            i === 0 && pageNumberArray.length > 6 && currentPage > 2
                          "
                          [hidden]="currentPage === 1"
                          (click)="moveToPage(currentPage - 2)" (keydown.enter)="moveToPage(currentPage - 2)" tabindex="0"
                        >
                          <a class="page-link" href="javascript:void(0);"> ... </a>
                        </li>
                        <li
                          *ngIf="
                            i === pageNumberArray.length - 2 &&
                            pageNumberArray.length > 6
                          "
                          [hidden]="
                            currentPage >=
                              pageNumberArray[pageNumberArray.length - 2] ||
                            totalData < serialNumberArray[serialNumberArray.length - 1]
                          "
                          class="page-item"
                          (click)="moveToPage(currentPage + 2)" (keydown.enter)="moveToPage(currentPage + 2)" tabindex="0"
                        >
                          <a class="page-link" href="javascript:void(0);"> ... </a>
                        </li>
                      </ng-container>
        
                      <li
                        class="page-item"
                        [ngClass]="{
                          disabled:
                            currentPage ===
                              pageNumberArray[pageNumberArray.length - 1] ||
                            lstExpire.length === 0
                        }"
                      >
                        <a
                          (click)="getMoreData('next')"
                          class="page-link"
                          href="javascript:void(0);"
                          >Next
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
				<!-- Add Employee Modal -->
				<div id="add_employee" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Add Experience Level</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form [formGroup]="addExpireForm">
									<div class="row">
										<div class="col-sm-12">
											<div class="input-block mb-3">
												<label class="col-form-label" for="">Experience Level <span class="text-danger">*</span></label>
												<input class="form-control" type="text" [class.invalid]="addExpireForm.get('Expirelevel')?.invalid && addExpireForm.get('Expirelevel')?.touched"
                            formControlName="Expirelevel">
                            	<div
                            *ngIf="addExpireForm.get('Expirelevel')?.invalid && addExpireForm.get('Expirelevel')?.touched">
                            <small
                                *ngIf="addExpireForm.get('Expirelevel')?.invalid && addExpireForm.get('Expirelevel')?.touched"
                                class="text-danger"> *Experience level required</small>
                        </div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="input-block mb-3">
												<label class="col-form-label" for="">Status</label>
												<mat-select   class="form-control" [class.invalid]="addExpireForm.get('StatusName')?.invalid && addExpireForm.get('StatusName')?.touched"
                            formControlName="StatusName" placeholder="Select">
													<mat-option value="1">Select</mat-option>
													<mat-option value="2">Active</mat-option>
													<mat-option value="3">Inactive</mat-option>
												</mat-select>
												<div
                            *ngIf="addExpireForm.get('StatusName')?.invalid && addExpireForm.get('StatusName')?.touched">
                            <small
                                *ngIf="addExpireForm.get('StatusName')?.invalid && addExpireForm.get('StatusName')?.touched"
                                class="text-danger"> *Status required</small>
                        </div>
											</div>
										</div>
										
									</div>
									
									<div class="submit-section">
										<button class="btn btn-primary submit-btn">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- /Add Employee Modal -->

				<!-- Edit Job Modal -->
				<div id="edit_job" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Edit Candidates</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form [formGroup]="editExpireForm">
									<div class="row">
										<div class="col-sm-12">
											<div class="input-block mb-3">
												<label class="col-form-label" for="">Experience Level <span class="text-danger">*</span></label>
												<input class="form-control" type="text" value="1-3" [class.invalid]="editExpireForm.get('Expirelevel')?.invalid && editExpireForm.get('Expirelevel')?.touched"
                            formControlName="Expirelevel">
                            <div
                            *ngIf="editExpireForm.get('Expirelevel')?.invalid && editExpireForm.get('Expirelevel')?.touched">
                            <small
                                *ngIf="editExpireForm.get('Expirelevel')?.invalid && editExpireForm.get('Expirelevel')?.touched"
                                class="text-danger"> *Experience level required</small>
                        </div>
								
											</div>
										</div>
										<div class="col-sm-12">
											<div class="input-block mb-3">
												<label class="col-form-label" for="">Status</label>
												<mat-select class="form-control" [class.invalid]="editExpireForm.get('StatusName')?.invalid && editExpireForm.get('StatusName')?.touched"
                            formControlName="StatusName" placeholder="Select">
													<mat-option value="1">Select</mat-option>
													<mat-option value="2" selected>Active</mat-option>
													<mat-option value="3">Inactive</mat-option>
												</mat-select>
												<div
                            *ngIf="editExpireForm.get('StatusName')?.invalid && editExpireForm.get('StatusName')?.touched">
                            <small
                                *ngIf="editExpireForm.get('StatusName')?.invalid && editExpireForm.get('StatusName')?.touched"
                                class="text-danger"> *Status required</small>
                        </div>
											</div>
										</div>
										
									</div>
									<div class="submit-section">
										<button class="btn btn-primary submit-btn">Save</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- /Edit Job Modal -->

				<!-- Delete Job Modal -->
				<div class="modal custom-modal fade" id="delete_job" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-header">
									<h3>Delete</h3>
									<p>Are you sure want to delete?</p>
								</div>
								<div class="modal-btn delete-action">
									<div class="row">
										<div class="col-6">
											<a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
										</div>
										<div class="col-6">
											<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Delete Job Modal -->
