<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Assets</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active">Assets</li>
                </ul>
            </div>
            <div class="col-auto float-end ms-auto">
                <a class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_asset"><i class="fa-solid fa-plus"></i>
                    Add Asset</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3">
            <div class="input-block mb-3 form-focus inputs">
                <mat-form-field class="example-full-width">
                    <mat-label>Employee Name</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="input-block mb-3 form-focus select-focus select">
                <mat-form-field appearance="fill">
                  <mat-label>Status</mat-label>
                  <mat-select [(value)]="selected1">
                    <mat-option value="1"> -- Select -- </mat-option>
                    <mat-option value="2">Pending</mat-option>
                    <mat-option value="3">Approved</mat-option>
                    <mat-option value="4">Returned</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="input-block mb-3 form-focus inputs date-input1">
                        <mat-form-field class="example-full-width cal-icon">
                            <mat-label>From</mat-label>
                            <input  bsDatepicker type="text" matInput container=".date-input1">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="input-block mb-3 form-focus inputs date-input2">
                        <mat-form-field class="example-full-width cal-icon">
                            <mat-label>To</mat-label>
                            <input  bsDatepicker type="text" matInput container=".date-input2">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <a class="btn btn-success w-100"> Search </a>
        </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
        <div class="col-md-12">
            <div class="table_header">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length">
                            <label class="col-form-label" for="">
                                Show
                                <select [(ngModel)]="pageSize" (ngModelChange)="changePageSize()"
                                    class="form-control form-control-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                Entries
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table matSort (matSortChange)="sortData($event)"
                    class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th mat-sort-header="assetUser">Asset User</th>
                            <th mat-sort-header="assetName">Asset Name</th>
                            <th mat-sort-header="assetId">Asset Id</th>
                            <th mat-sort-header="purchaseDate">Purchase Date</th>
                            <th mat-sort-header="warrenty">Warrenty</th>
                            <th mat-sort-header="warrentyEnd">Warrenty End</th>
                            <th mat-sort-header="Amount">Amount</th>
                            <th mat-sort-header="assetStatus" class="text-center">Status</th>
                            <th class="text-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let assets of allAssets;let i = index">
                            <td>{{assets.assetUser}}</td>
                            <td>
                                <strong>{{assets.assetName}}</strong>
                            </td>
                            <td>{{assets.assetId}}</td>
                            <td>{{assets.purchaseDate }}</td>
                            <td>{{assets.warrenty}}</td>
                            <td>{{assets.warrentyEnd }}</td>
                            <td>{{assets.Amount}}</td>
                            <td class="text-center">
                                <div class="dropdown action-label">
                                    <a class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-regular fa-circle-dot" [ngClass]="{'text-danger': assets.assetStatus === 'Pending','text-info': assets.assetStatus === 'Returned','text-success': assets.assetStatus === 'Approved'}"></i>
                                        {{assets.assetStatus}}
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" (click)="getStatus('Pending')" (keydown.enter)="getStatus('Pending')" tabindex="0"><i
                                                class="fa-regular fa-circle-dot text-danger me-1"></i>
                                            Pending</a>
                                        <a class="dropdown-item" (click)="getStatus('Approved')" (keydown.enter)="getStatus('Approved')" tabindex="0"><i
                                                class="fa-regular fa-circle-dot text-success me-1"></i> Approved</a>
                                        <a class="dropdown-item" (click)="getStatus('Returned')" (keydown.enter)="getStatus('Returned')" tabindex="0"><i
                                                class="fa-regular fa-circle-dot text-info me-1"></i>
                                            Returned</a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-end">
                                <div class="dropdown dropdown-action">
                                    <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#edit_asset"><i
                                                class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item" data-bs-toggle="modal"
                                            data-bs-target="#delete_asset"><i class="fa-regular fa-trash-can m-r-5"></i>
                                            Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="allAssets.length === 0">
                            <td colspan="10">
                                <h5 style="text-align: center;">No data found</h5>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table_footer">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info">
                        Showing {{ serialNumberArray[0] }} to
                        {{ serialNumberArray[serialNumberArray.length - 1] }} of
                        {{ totalData }} entries
                    </div>
                </div>

                <div class="col-sm-12 col-md-7">
                    <div class="pagination_section">
                        <ul class="pagination">
                            <li class="page-item" [ngClass]="{
                              disabled: currentPage === 1
                            }">
                                <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);"
                                    tabindex="-1">Previous</a>
                            </li>

                            <ng-container *ngFor="let item of pageNumberArray; let i = index">
                                <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                                (pageNumberArray[currentPage - 2] > item &&
                                  item !== 1 &&
                                  pageNumberArray.length > 6) ||
                                (pageNumberArray[currentPage] < item &&
                                  item !== 1 &&
                                  pageNumberArray.length > 6 &&
                                  pageNumberArray.length !== item)
                                  ? 'hide-page-no'
                                  : 'show-page-no'
                              ">
                                    <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                                        {{ item }}
                                    </a>
                                </li>
                                <li class="page-item" *ngIf="
                                i === 0 && pageNumberArray.length > 6 && currentPage > 2
                              " [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)" (keydown.enter)="moveToPage(currentPage - 2)" tabindex="0">
                                    <a class="page-link" href="javascript:void(0);"> ... </a>
                                </li>
                                <li *ngIf="
                                i === pageNumberArray.length - 2 &&
                                pageNumberArray.length > 6
                              " [hidden]="
                                currentPage >=
                                  pageNumberArray[pageNumberArray.length - 2] ||
                                totalData < serialNumberArray[serialNumberArray.length - 1]
                              " class="page-item" (click)="moveToPage(currentPage + 2)" (keydown.enter)="moveToPage(currentPage + 2)" tabindex="0">
                                    <a class="page-link" href="javascript:void(0);"> ... </a>
                                </li>
                            </ng-container>

                            <li class="page-item" [ngClass]="{
                              disabled:
                                currentPage ===
                                  pageNumberArray[pageNumberArray.length - 1] ||
                                allAssets.length === 0
                            }">
                                <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);">Next
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
<!-- Add Asset Modal -->
<div id="add_asset" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Asset</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addAssets">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Asset Name</label>
                                <input class="form-control" type="text"
                                    [class.invalid]="addAssets.get('assetName')?.invalid && addAssets.get('assetName')?.touched"
                                    formControlName="assetName">

                                <div *ngIf="addAssets.get('assetName')?.invalid && addAssets.get('assetName')?.touched">
                                    <small
                                        *ngIf="addAssets.get('assetName')?.invalid && addAssets.get('assetName')?.touched"
                                        class="text-danger"> *Asset name is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Asset Id</label>
                                <input class="form-control" type="text"
                                    [class.invalid]="addAssets.get('assetId')?.invalid && addAssets.get('assetId')?.touched"
                                    formControlName="assetId">
                            </div>
                            <div *ngIf="addAssets.get('assetId')?.invalid && addAssets.get('assetId')?.touched">
                                <small *ngIf="addAssets.get('assetId')?.invalid && addAssets.get('assetId')?.touched"
                                    class="text-danger"> *Asset Id is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-block mb-3 date-input3">
                                <label class="col-form-label" for="">Purchase From</label>
                                <input class="form-control datetimepicker" type="text" bsDatepicker type="text" container=".date-input3"
                                    [class.invalid]="addAssets.get('purchaseDate')?.invalid && addAssets.get('purchaseDate')?.touched"
                                    formControlName="purchaseDate">

                                <div
                                    *ngIf="addAssets.get('purchaseDate')?.invalid && addAssets.get('purchaseDate')?.touched">
                                    <small
                                        *ngIf="addAssets.get('purchaseDate')?.invalid && addAssets.get('purchaseDate')?.touched"
                                        class="text-danger"> *Purchase Date is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3 date-input4">
                                <label class="col-form-label" for="">Purchase To</label>
                                <input class="form-control datetimepicker" type="text" bsDatepicker type="text" container=".date-input4"
                                    [class.invalid]="addAssets.get('purchaseTo')?.invalid && addAssets.get('purchaseTo')?.touched"
                                    formControlName="purchaseTo">

                                <div *ngIf="addAssets.get('purchaseTo')?.invalid && addAssets.get('purchaseTo')?.touched">
                                    <small
                                        *ngIf="addAssets.get('purchaseTo')?.invalid && addAssets.get('purchaseTo')?.touched"
                                        class="text-danger"> *Purchase To is required</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Manufacturer</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Model</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Serial Number</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Supplier</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Condition</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Warranty</label>
                                <input class="form-control" type="text" placeholder="In Months"
                                    [class.invalid]="addAssets.get('warranty')?.invalid && addAssets.get('warranty')?.touched"
                                    formControlName="warranty">

                                <div *ngIf="addAssets.get('warranty')?.invalid && addAssets.get('warranty')?.touched">
                                    <small
                                        *ngIf="addAssets.get('warranty')?.invalid && addAssets.get('warranty')?.touched"
                                        class="text-danger"> *Warranty is required</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Value</label>
                                <input placeholder="$1800" class="form-control" type="text"
                                    [class.invalid]="addAssets.get('value')?.invalid && addAssets.get('value')?.touched"
                                    formControlName="value">
                                <div *ngIf="addAssets.get('value')?.invalid && addAssets.get('value')?.touched">
                                    <small *ngIf="addAssets.get('value')?.invalid && addAssets.get('value')?.touched"
                                        class="text-danger"> *Value is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Asset User</label>
                                <mat-select  class="form-control"
                                    placeholder="John Doe">
                                    <mat-option value="1">John Doe</mat-option>
                                    <mat-option value="2">Richard Miles</mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Description</label>
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Status</label>
                                <mat-select    class="form-control"
                                     placeholder="Pending">
                                    <mat-option value="1">Pending</mat-option>
                                    <mat-option value="2">Approved</mat-option>
                                    <mat-option value="3">Deployed</mat-option>
                                    <mat-option value="4">Damaged</mat-option>
                                </mat-select>
                               
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Asset Modal -->

<!-- Edit Asset Modal -->
<div id="edit_asset" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Asset</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Asset Name</label>
                                <input class="form-control" type="text" value="Dell Laptop">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Asset Id</label>
                                <input class="form-control" type="text" value="#AST-0001" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Purchase Date</label>
                                <input class="form-control datetimepicker" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Purchase From</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Manufacturer</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Model</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Serial Number</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Supplier</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Condition</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Warranty</label>
                                <input class="form-control" type="text" placeholder="In Months">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Value</label>
                                <input placeholder="$1800" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Asset User</label>
                                <mat-select  class="form-control"
                                    placeholder="John Doe">
                                    <mat-option value="1">John Doe</mat-option>
                                    <mat-option value="2">Richard Miles</mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Description</label>
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Status</label>
                                <mat-select    class="form-control"
                                     placeholder="Pending">
                                    <mat-option value="1">Pending</mat-option>
                                    <mat-option value="2">Approved</mat-option>
                                    <mat-option value="3">Deployed</mat-option>
                                    <mat-option value="4">Damaged</mat-option>
                                </mat-select>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Edit Asset Modal -->

<!-- Delete Asset Modal -->
<div class="modal custom-modal fade" id="delete_asset" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Asset</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Asset Modal -->