.container {
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.dropdown-toggle::after {
  display: none;
}

.d-flex.align-items-center {
  align-items: center !important;
}

.search-input {
  background-color: #f7f8fa;
  border: none;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  width: 200px; /* Set width to make it smaller */
}

.search-input::placeholder {
  color: #6c757d;
}

.add-user-btn {
  background-color: #6f42c1;
  border-color: #6f42c1;
  color: #fff;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 0.875rem; /* Adjust font size to make it smaller */
}

.add-user-btn:hover {
  background-color: #563d7c;
  border-color: #563d7c;
}

.btn-outline-primary.edit-btn {
  color: #6f42c1;
  border-color: #6f42c1;
}

.btn-outline-primary.edit-btn:hover {
  color: #fff;
  background-color: #6f42c1;
  border-color: #6f42c1;
}

.table td,
.table th {
  vertical-align: middle; /* Center align text vertically in table cells */
}

/* Pagination Styling */


::ng-deep .pagination .page-link {
  background-color: #f6f6f6 !important;
  color: #6f42c1 !important;
}

::ng-deep .ng-select {
  display: block;
  width: 100%; /* Ensures the select takes full width of its container */
}

::ng-deep .ng-select .ng-select-container {
  height: auto;
  padding: 0.375rem 0.75rem;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5; /* Matches default line-height for form controls */
}

::ng-deep .ng-select .ng-value-container {
  display: flex;
  flex-wrap: wrap; /* Allows multiple selected items to wrap */
  align-items: center;
}

::ng-deep .ng-select .ng-value {
  margin: 2px 5px 2px 0; /* Spacing between tags in multi-select */
  background-color: #e9ecef; /* Light grey background for tags */
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

::ng-deep .ng-select .ng-placeholder {
  color: #6c757d; /* Placeholder color similar to that of default inputs */
}

::ng-deep .ng-select .ng-option {
  padding: 0.5rem 1rem; /* Padding for dropdown options */
  font-size: 1rem; /* Font size for options */
}

::ng-deep .ng-dropdown-panel {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  z-index: 1060;
  position: fixed;
  top: 20%;
  left: 50%;
  margin-top: 20%;
  transform: translateX(-50%);
}