<!-- Sidebar -->
<div class="sidebar" id="sidebar" (mouseover)="miniSideBarMouseHover('over')" (mouseout)="miniSideBarMouseHover('out')"
	(focus)="miniSideBarFocus('over')" (blur)="miniSideBarBlur('out')">
	<div class="sidebar-inner slimscroll">
		<div id="sidebar-menu" class="sidebar-menu">

			<nav class='greedy'>
				<ul class="list-inline-item list-unstyled links">
					<li>
						<a [routerLink]="routes.adminDashboard"><i class="la la-home"></i> <span>Back to Home</span></a>
					</li>
					<li class="menu-title"><span>Chat Groups</span> <a href="javascript:void(0);" data-bs-toggle="modal"
							data-bs-target="#add_group"><i class="fa-solid fa-plus"></i></a></li>
					<li>
						<a routerLink="/apps/chats">
							<span class="chat-avatar-sm user-img">
								<img class="rounded-circle" alt="" src="assets/img/user.jpg">
							</span>
							<span class="chat-user">#General</span>
						</a>
					</li>
					<li>
						<a routerLink="/apps/chats">
							<span class="chat-avatar-sm user-img">
								<img class="rounded-circle" alt="" src="assets/img/user.jpg">
							</span>
							<span class="chat-user">#Video Responsive Survey</span>
						</a>
					</li>
					<li>
						<a routerLink="/apps/chats">
							<span class="chat-avatar-sm user-img">
								<img class="rounded-circle" alt="" src="assets/img/user.jpg">
							</span>
							<span class="chat-user">#500rs</span>
						</a>
					</li>
					<li>
						<a routerLink="/apps/chats">
							<span class="chat-avatar-sm user-img">
								<img class="rounded-circle" alt="" src="assets/img/user.jpg">
							</span>
							<span class="chat-user">#warehouse</span>
						</a>
					</li>
					<li class="menu-title">Direct Chats <a href="javascript:void(0);" data-bs-toggle="modal"
							data-bs-target="#add_chat_user"><i class="fa-solid fa-plus"></i></a></li>
					<li>
						<a routerLink="/apps/chats">
							<span class="chat-avatar-sm user-img">
								<img class="rounded-circle" alt="" src="assets/img/profiles/avatar-2.jpg"><span
									class="status online"></span>
							</span>
							<span class="chat-user">John Doe</span> <span class="badge rounded-pill bg-danger">1</span>
						</a>
					</li>
					<li>
						<a routerLink="/apps/chats">
							<span class="chat-avatar-sm user-img">
								<img class="rounded-circle" alt="" src="assets/img/profiles/avatar-9.jpg"><span
									class="status offline"></span>
							</span>
							<span class="chat-user">Richard Miles</span> <span
								class="badge rounded-pill bg-danger">7</span>
						</a>
					</li>
					<li>
						<a routerLink="/apps/chats">
							<span class="chat-avatar-sm user-img">
								<img class="rounded-circle" alt="" src="assets/img/profiles/avatar-10.jpg"><span
									class="status away"></span>
							</span>
							<span class="chat-user">John Smith</span>
						</a>
					</li>
					<li class="active">
						<a routerLink="/apps/chats">
							<span class="chat-avatar-sm user-img">
								<img class="rounded-circle" alt="" src="assets/img/profiles/avatar-5.jpg"><span
									class="status online"></span>
							</span>
							<span class="chat-user">Mike Litorus</span> <span
								class="badge rounded-pill bg-danger">2</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
<!-- /Sidebar -->