<!-- Page Content -->
<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Budgets</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active">Accounts</li>
                </ul>
            </div>
            <div class="col-auto float-end ms-auto">
                <a href="javascript:void(0);" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_categories"><i
                        class="fa-solid fa-plus"></i> Add Budgets</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
        <div class="col-md-12">
            <div class="table_header">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length">
                            <label>
                                Show
                                <select [(ngModel)]="pageSize" (ngModelChange)="changePageSize()"
                                    class="form-control form-control-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                Entries
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_filter">
                            <label>
                                Search:
                                <input [(ngModel)]="searchDataValue" (ngModelChange)="searchData(searchDataValue)"
                                    class="form-control form-control-sm" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div matSort (matSortChange)="sortData($event)" class="table-responsive">
                <table class="table table-striped custom-table mb-0">
                    <thead>
                        <tr>
                            <th mat-sort-header="id">Budget No</th>
                            <th mat-sort-header="budgettitle">Budget Title</th>
                            <th mat-sort-header="budgettype">Budget Type</th>
                            <th mat-sort-header="startdate">Start Date</th>
                            <th mat-sort-header="enddate">End Date</th>
                            <th mat-sort-header="totalrevenue">Total Revenue</th>
                            <th mat-sort-header="totalexpenses">Total Expenses</th>
                            <th mat-sort-header="taxamount">Tax Amount</th>
                            <th mat-sort-header="budgetamount">Budget Amount</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of lstRevenue">
                            <td>{{item.id}}</td>
                            <td>{{item.budgettitle}}</td>
                            <td>{{item.budgettype}}</td>
                            <td>{{item.startdate }}</td>
                            <td>{{item.enddate }}</td>
                            <td>{{item.totalrevenue}}</td>
                            <td>{{item.totalexpenses}}</td>
                            <td>{{item.taxamount}}</td>
                            <td>{{item.budgetamount}}</td>
                            <td class="text-end">
                                <div class="dropdown dropdown-action">
                                    <a href="javascript:void(0);" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal"
                                            data-bs-target="#edit_categories"><i class="fa-solid fa-pencil m-r-5"></i>
                                            Edit</a>
                                        <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal"
                                            data-bs-target="#delete"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="lstRevenue.length === 0">
                            <td colspan="10">
                                <h5 style="text-align: center;">No data found</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table_footer">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info">
                        Showing {{ serialNumberArray[0] }} to
                        {{ serialNumberArray[serialNumberArray.length - 1] }} of
                        {{ totalData }} entries
                    </div>
                </div>

                <div class="col-sm-12 col-md-7">
                    <div class="pagination_section">
                        <ul class="pagination">
                            <li class="page-item" [ngClass]="{
                          disabled: currentPage === 1
                        }">
                                <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);"
                                    tabindex="-1">Previous</a>
                            </li>

                            <ng-container *ngFor="let item of pageNumberArray; let i = index">
                                <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                            (pageNumberArray[currentPage - 2] > item &&
                              item !== 1 &&
                              pageNumberArray.length > 6) ||
                            (pageNumberArray[currentPage] < item &&
                              item !== 1 &&
                              pageNumberArray.length > 6 &&
                              pageNumberArray.length !== item)
                              ? 'hide-page-no'
                              : 'show-page-no'
                          ">
                                    <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                                        {{ item }}
                                    </a>
                                </li>
                                <li class="page-item" *ngIf="
                            i === 0 && pageNumberArray.length > 6 && currentPage > 2
                          " [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)" (keydown.enter)="moveToPage(currentPage - 2)" tabindex="0">
                                    <a class="page-link" href="javascript:void(0);"> ... </a>
                                </li>
                                <li *ngIf="
                            i === pageNumberArray.length - 2 &&
                            pageNumberArray.length > 6
                          " [hidden]="
                            currentPage >=
                              pageNumberArray[pageNumberArray.length - 2] ||
                            totalData < serialNumberArray[serialNumberArray.length - 1]
                          " class="page-item" (click)="moveToPage(currentPage + 2)" (keydown.enter)="moveToPage(currentPage + 2)" tabindex="0">
                                    <a class="page-link" href="javascript:void(0);"> ... </a>
                                </li>
                            </ng-container>

                            <li class="page-item" [ngClass]="{
                          disabled:
                            currentPage ===
                              pageNumberArray[pageNumberArray.length - 1] ||
                            lstRevenue.length === 0
                        }">
                                <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);">Next
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
<!-- Add Modal -->
<div class="modal custom-modal fade" id="add_categories" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Budget</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addRevenueForm">
                    <div class="input-block mb-3">
                        <label  class="col-form-label" for="">Budget Title</label>
                        <input class="form-control" type="text" name="budget_title" placeholder="Budgets Title"
                            [class.invalid]="addRevenueForm.get('BudgetTitle')?.invalid && addRevenueForm.get('BudgetTitle')?.touched"
                            formControlName="BudgetTitle">
                        <div
                            *ngIf="addRevenueForm.get('BudgetTitle')?.invalid && addRevenueForm.get('BudgetTitle')?.touched">
                            <small
                                *ngIf="addRevenueForm.get('BudgetTitle')?.invalid && addRevenueForm.get('BudgetTitle')?.touched"
                                class="text-danger"> *Budget title required</small>
                        </div>
                    </div>

                    <label class="col-form-label" for="">Choose Budget Respect Type</label>
                    <div class="input-block mb-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input BudgetType" type="radio" name="budget_type" id="project2"
                                value="project">
                            <label class="form-check-label" for="project2">Project</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input BudgetType" type="radio" name="budget_type" id="category1"
                                value="category">
                            <label class="form-check-label" for="category1">Category</label>
                        </div>

                    </div>

                    <div class="input-block mb-3 date-input1">
                        <label class="col-form-label" for="">Start Date</label>
                        <div class="cal-icon"><input class="form-control datetimepicker" type="text" bsDatepicker  container=".date-input1"
                                name="budget_start_date" placeholder="Start Date" data-date-format="dd-mm-yyyy"
                                [class.invalid]="addRevenueForm.get('StartDate')?.invalid && addRevenueForm.get('StartDate')?.touched"
                                formControlName="StartDate"></div>
                        <div *ngIf="addRevenueForm.get('StartDate')?.invalid && addRevenueForm.get('StartDate')?.touched">
                            <small
                                *ngIf="addRevenueForm.get('StartDate')?.invalid && addRevenueForm.get('StartDate')?.touched"
                                class="text-danger"> *Start date required</small>
                        </div>
                    </div>
                    <div class="input-block mb-3 date-input2">
                        <label class="col-form-label" for="">End Date</label>
                        <div class="cal-icon"><input class="form-control datetimepicker" type="text" bsDatepicker container=".date-input2"
                                name="budget_end_date" placeholder="End Date" data-date-format="dd-mm-yyyy"
                                [class.invalid]="addRevenueForm.get('EndDate')?.invalid && addRevenueForm.get('EndDate')?.touched"
                                formControlName="EndDate"></div>
                        <div *ngIf="addRevenueForm.get('EndDate')?.invalid && addRevenueForm.get('EndDate')?.touched">
                            <small
                                *ngIf="addRevenueForm.get('EndDate')?.invalid && addRevenueForm.get('EndDate')?.touched"
                                class="text-danger"> *End date required</small>
                        </div>
                    </div>

                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Expected Revenues</label>
                    </div>
                    <div class="AllRevenuesClass">
                        <div class="row AlLRevenues">
                            <div class="col-sm-6">
                                <div class="input-block mb-3">
                                    <label for="">Revenue Title <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control RevenuETitle" value=""
                                        placeholder="Revenue Title" name="revenue_title[]" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="input-block mb-3">
                                    <label for="">Revenue Amount <span class="text-danger">*</span></label>
                                    <input type="text" name="revenue_amount[]" placeholder="Amount" value=""
                                        class="form-control RevenuEAmount" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="add-more">
                                    <a class="add_more_revenue" title="Add Revenue" style="cursor: pointer;"><i
                                            class="fa-solid fa-plus-circle"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Overall Revenues <span class="text-danger">(A)</span></label>
                        <input class="form-control" type="text" name="overall_revenues" id="overall_revenues1"
                            placeholder="Overall Revenues" readonly style="cursor: not-allowed;">

                    </div>

                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Expected Expenses</label>
                    </div>
                    <div class="AllExpensesClass">
                        <div class="row AlLExpenses">
                            <div class="col-sm-6">
                                <div class="input-block mb-3">
                                    <label class="col-form-label" for="">Expenses Title <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control EXpensesTItle" value=""
                                        placeholder="Expenses Title" name="expenses_title[]" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="input-block mb-3">
                                    <label class="col-form-label" for="">Expenses Amount <span class="text-danger">*</span></label>
                                    <input type="text" name="expenses_amount[]" placeholder="Amount" value=""
                                        class="form-control EXpensesAmount" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="add-more">
                                    <a class="add_more_expenses" title="Add Expenses" style="cursor: pointer;"><i
                                            class="fa-solid fa-plus-circle"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Overall Expense <span class="text-danger">(B)</span></label>
                        <input class="form-control" type="text" name="overall_expenses" id="overall_expenses1"
                            placeholder="Overall Expenses" readonly style="cursor: not-allowed;">

                    </div>


                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Expected Profit <span class="text-danger">( C = A - B )</span> </label>
                        <input class="form-control" type="text" name="expected_profit" id="expected_profit1"
                            placeholder="Expected Profit" readonly style="cursor: not-allowed;">
                    </div>

                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Tax <span class="text-danger">(D)</span></label>
                        <input class="form-control" type="text" name="tax_amount" id="tax_amount1"
                            placeholder="Tax Amount"
                            [class.invalid]="addRevenueForm.get('Tax')?.invalid && addRevenueForm.get('Tax')?.touched"
                            formControlName="Tax">
                        <div *ngIf="addRevenueForm.get('Tax')?.invalid && addRevenueForm.get('Tax')?.touched">
                            <small *ngIf="addRevenueForm.get('Tax')?.invalid && addRevenueForm.get('Tax')?.touched"
                                class="text-danger"> *Tax required</small>
                        </div>
                    </div>

                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Budget Amount <span class="text-danger">( E = C - D )</span> </label>
                        <input class="form-control" type="text" name="budget_amount" id="budget_amount1"
                            placeholder="Budget Amount" readonly style="cursor: not-allowed;">

                    </div>
                    <div class=" submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Modal -->

<!-- Edit Modal -->
<div class="modal custom-modal fade" id="edit_categories" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Budget</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editRevenueForm">
                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Budget Title</label>
                        <input class="form-control" type="text" name="budget_title" placeholder="Budgets Title"
                            [class.invalid]="editRevenueForm.get('BudgetTitle')?.invalid && editRevenueForm.get('BudgetTitle')?.touched"
                            formControlName="BudgetTitle">
                        <div
                            *ngIf="editRevenueForm.get('BudgetTitle')?.invalid && editRevenueForm.get('BudgetTitle')?.touched">
                            <small
                                *ngIf="editRevenueForm.get('BudgetTitle')?.invalid && editRevenueForm.get('BudgetTitle')?.touched"
                                class="text-danger"> *Budget title required</small>
                        </div>
                    </div>

                    <label class="col-form-label" for="">Choose Budget Respect Type</label>
                    <div class="input-block mb-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input BudgetType" type="radio" name="budget_type" id="project1"
                                value="project">
                            <label class="form-check-label" for="project1">Project</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input BudgetType" type="radio" name="budget_type" id="category"
                                value="category">
                            <label class="form-check-label" for="category">Category</label>
                        </div>

                    </div>

                    <div class="input-block mb-3 date-input3">
                        <label class="col-form-label" for="">Start Date</label>
                        <div class="cal-icon"><input class="form-control datetimepicker" type="text" bsDatepicker container=".date-input3"
                                name="budget_start_date" placeholder="Start Date" data-date-format="dd-mm-yyyy"
                                [class.invalid]="editRevenueForm.get('StartDate')?.invalid && editRevenueForm.get('StartDate')?.touched"
                                formControlName="StartDate"></div>
                        <div
                            *ngIf="editRevenueForm.get('StartDate')?.invalid && editRevenueForm.get('StartDate')?.touched">
                            <small
                                *ngIf="editRevenueForm.get('StartDate')?.invalid && editRevenueForm.get('StartDate')?.touched"
                                class="text-danger"> *Start date required</small>
                        </div>
                    </div>
                    <div class="input-block mb-3 date-input4">
                        <label class="col-form-label" for="">End Date</label>
                        <div class="cal-icon"><input class="form-control datetimepicker" type="text" bsDatepicker container=".date-input4"
                                name="budget_end_date" placeholder="End Date" data-date-format="dd-mm-yyyy"
                                [class.invalid]="editRevenueForm.get('EndDate')?.invalid && editRevenueForm.get('EndDate')?.touched"
                                formControlName="EndDate"></div>
                        <div *ngIf="editRevenueForm.get('EndDate')?.invalid && editRevenueForm.get('EndDate')?.touched">
                            <small
                                *ngIf="editRevenueForm.get('EndDate')?.invalid && editRevenueForm.get('EndDate')?.touched"
                                class="text-danger"> *End date required</small>
                        </div>
                    </div>

                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Expected Revenues</label>
                    </div>
                    <div class="AllRevenuesClass">
                        <div class="row AlLRevenues">
                            <div class="col-sm-6">
                                <div class="input-block mb-3">
                                    <label for="">Revenue Title <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control RevenuETitle" value=""
                                        placeholder="Revenue Title" name="revenue_title[]" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="input-block mb-3">
                                    <label for="">Revenue Amount <span class="text-danger">*</span></label>
                                    <input type="text" name="revenue_amount[]" placeholder="Amount" value=""
                                        class="form-control RevenuEAmount" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="add-more">
                                    <a class="add_more_revenue" title="Add Revenue" style="cursor: pointer;"><i
                                            class="fa-solid fa-plus-circle"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Overall Revenues <span class="text-danger">(A)</span></label>
                        <input class="form-control" type="text" name="overall_revenues" id="overall_revenues"
                            placeholder="Overall Revenues" readonly style="cursor: not-allowed;">

                    </div>

                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Expected Expenses</label>
                    </div>
                    <div class="AllExpensesClass">
                        <div class="row AlLExpenses">
                            <div class="col-sm-6">
                                <div class="input-block mb-3">
                                    <label class="col-form-label" for="">Expenses Title <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control EXpensesTItle" value=""
                                        placeholder="Expenses Title" name="expenses_title[]" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="input-block mb-3">
                                    <label class="col-form-label" for="">Expenses Amount <span class="text-danger">*</span></label>
                                    <input type="text" name="expenses_amount[]" placeholder="Amount" value=""
                                        class="form-control EXpensesAmount" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="add-more">
                                    <a class="add_more_expenses" title="Add Expenses" style="cursor: pointer;"><i
                                            class="fa-solid fa-plus-circle"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Overall Expense <span class="text-danger">(B)</span></label>
                        <input class="form-control" type="text" name="overall_expenses" id="overall_expenses"
                            placeholder="Overall Expenses" readonly style="cursor: not-allowed;">

                    </div>


                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Expected Profit <span class="text-danger">( C = A - B )</span> </label>
                        <input class="form-control" type="text" name="expected_profit" id="expected_profit"
                            placeholder="Expected Profit" readonly style="cursor: not-allowed;">
                    </div>

                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Tax <span class="text-danger">(D)</span></label>
                        <input class="form-control" type="text" name="tax_amount" id="tax_amount"
                            placeholder="Tax Amount"
                            [class.invalid]="editRevenueForm.get('Tax')?.invalid && editRevenueForm.get('Tax')?.touched"
                            formControlName="Tax">
                        <div *ngIf="editRevenueForm.get('Tax')?.invalid && editRevenueForm.get('Tax')?.touched">
                            <small *ngIf="editRevenueForm.get('Tax')?.invalid && editRevenueForm.get('Tax')?.touched"
                                class="text-danger"> *Tax required</small>
                        </div>
                    </div>

                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Budget Amount <span class="text-danger">( E = C - D )</span> </label>
                        <input class="form-control" type="text" name="budget_amount" id="budget_amount"
                            placeholder="Budget Amount" readonly style="cursor: not-allowed;">

                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Modal -->

<!-- Delete Holiday Modal -->
<div class="modal custom-modal fade" id="delete" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete </h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn"
                                >Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-bs-dismiss="modal"
                                class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Holiday Modal -->