<!-- Page Content -->
<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Interview Questions</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="routes.adminDashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item">Jobs</li>
          <li class="breadcrumb-item active">Interview Questions</li>
        </ul>
      </div>
      <div class="col-auto float-end ms-auto">
        <a
          href="javascript:void(0);"
          class="btn add-btn mb-1"
          data-bs-toggle="modal"
          data-bs-target="#add_question"
          ><i class="fa-solid fa-plus"></i> Add Question</a
        >
        <a
          href="javascript:void(0);"
          class="btn add-btn me-1 mb-1"
          data-bs-toggle="modal"
          data-bs-target="#add_category"
          ><i class="fa-solid fa-plus"></i> Add Category</a
        >
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-md-12">
      <div class="table_header">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="dataTables_length">
              <label class="col-form-label" for="">
                Show
                <select
                  [(ngModel)]="pageSize"
                  (ngModelChange)="changePageSize()"
                  class="form-control form-control-sm"
                >
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                Entries
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table
          matSort
          (matSortChange)="sortData($event)"
          class="table table-striped custom-table datatable mb-0"
        >
          <thead>
            <tr>
              <th mat-sort-header="id">#</th>
              <th mat-sort-header="questions">Questions</th>
              <th mat-sort-header="option1">Option A</th>
              <th mat-sort-header="option2">Option B</th>
              <th mat-sort-header="option3">Option C</th>
              <th mat-sort-header="option4">Option D</th>
              <th mat-sort-header="correctanswer" class="text-center">
                Correct Answer
              </th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of lstInterview">
              <td>{{ item.id }}</td>
              <td>
                {{ item.questions }}<br />{{ item.questions1 }}<br />{{
                  item.questions2
                }}<br />{{ item.questions3 }}
              </td>
              <td>{{ item.option1 }}</td>
              <td>{{ item.option2 }}</td>
              <td>{{ item.option3 }}</td>
              <td>{{ item.option4 }}</td>
              <td class="text-center">{{ item.correctanswer }}</td>
              <td class="text-center">
                <div class="dropdown dropdown-action">
                  <a
                    href="javascript:void(0);"
                    class="action-icon dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    ><i class="material-icons">more_vert</i></a
                  >
                  <div class="dropdown-menu dropdown-menu-right">
                    <a
                      class="dropdown-item"
                      href="javascript:void(0);"
                      data-bs-toggle="modal"
                      data-bs-target="#edit_question"
                      ><i class="fa-solid fa-pencil m-r-5"></i> Edit</a
                    >
                    <a
                      class="dropdown-item"
                      href="javascript:void(0);"
                      data-bs-toggle="modal"
                      data-bs-target="#delete_employee"
                      ><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a
                    >
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngIf="lstInterview.length === 0">
              <td colspan="10">
                <h5 style="text-align: center">No data found</h5>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table_footer">
        <div class="col-sm-12 col-md-5">
          <div class="dataTables_info">
            Showing {{ serialNumberArray[0] }} to
            {{ serialNumberArray[serialNumberArray.length - 1] }} of
            {{ totalData }} entries
          </div>
        </div>

        <div class="col-sm-12 col-md-7">
          <div class="pagination_section">
            <ul class="pagination">
              <li
                class="page-item"
                [ngClass]="{
                  disabled: currentPage === 1
                }"
              >
                <a
                  (click)="getMoreData('previous')"
                  class="page-link"
                  href="javascript:void(0);"
                  tabindex="-1"
                  >Previous</a
                >
              </li>

              <ng-container *ngFor="let item of pageNumberArray; let i = index">
                <li
                  class="page-item"
                  [class.active]="item === currentPage"
                  [ngClass]="
                    (pageNumberArray[currentPage - 2] > item &&
                      item !== 1 &&
                      pageNumberArray.length > 6) ||
                    (pageNumberArray[currentPage] < item &&
                      item !== 1 &&
                      pageNumberArray.length > 6 &&
                      pageNumberArray.length !== item)
                      ? 'hide-page-no'
                      : 'show-page-no'
                  "
                >
                  <a
                    (click)="moveToPage(item)"
                    class="page-link"
                    href="javascript:void(0);"
                  >
                    {{ item }}
                  </a>
                </li>
                <li
                  class="page-item"
                  *ngIf="
                    i === 0 && pageNumberArray.length > 6 && currentPage > 2
                  "
                  [hidden]="currentPage === 1"
                  (click)="moveToPage(currentPage - 2)" (keydown.enter)="moveToPage(currentPage - 2)" tabindex="0"
                >
                  <a class="page-link" href="javascript:void(0);"> ... </a>
                </li>
                <li
                  *ngIf="
                    i === pageNumberArray.length - 2 &&
                    pageNumberArray.length > 6
                  "
                  [hidden]="
                    currentPage >=
                      pageNumberArray[pageNumberArray.length - 2] ||
                    totalData < serialNumberArray[serialNumberArray.length - 1]
                  "
                  class="page-item"
                  (click)="moveToPage(currentPage + 2)" (keydown.enter)="moveToPage(currentPage + 2)" tabindex="0"
                >
                  <a class="page-link" href="javascript:void(0);"> ... </a>
                </li>
              </ng-container>

              <li
                class="page-item"
                [ngClass]="{
                  disabled:
                    currentPage ===
                      pageNumberArray[pageNumberArray.length - 1] ||
                    lstInterview.length === 0
                }"
              >
                <a
                  (click)="getMoreData('next')"
                  class="page-link"
                  href="javascript:void(0);"
                  >Next
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->
<!-- Add Questions Modal -->
<div id="add_question" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Questions</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addInterviewForm">
          <div class="row">
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Add Category</label>
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Department</label>
                <mat-select
                  class="form-control"
                  placeholder="Web Development"
                >
                  <mat-option value="1">-</mat-option>
                  <mat-option value="2" selected>Web Development</mat-option>
                  <mat-option value="3">Application Development</mat-option>
                  <mat-option value="4">IT Management</mat-option>
                  <mat-option value="5">Accounts Management</mat-option>
                  <mat-option value="6">Support Management</mat-option>
                  <mat-option value="7">Marketing</mat-option>
                </mat-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Add Questions</label>
                <textarea
                  class="form-control"
                  [class.invalid]="
                    addInterviewForm.get('AddQuestion')?.invalid &&
                    addInterviewForm.get('AddQuestion')?.touched
                  "
                  formControlName="AddQuestion"
                >
                </textarea>
                <div
                  *ngIf="
                    addInterviewForm.get('AddQuestion')?.invalid &&
                    addInterviewForm.get('AddQuestion')?.touched
                  "
                >
                  <small
                    *ngIf="
                      addInterviewForm.get('AddQuestion')?.invalid &&
                      addInterviewForm.get('AddQuestion')?.touched
                    "
                    class="text-danger"
                  >
                    *Questions required</small
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Option A</label>
                <input
                  class="form-control"
                  type="text"
                  [class.invalid]="
                    addInterviewForm.get('OptionA')?.invalid &&
                    addInterviewForm.get('OptionA')?.touched
                  "
                  formControlName="OptionA"
                />
                <div
                  *ngIf="
                    addInterviewForm.get('OptionA')?.invalid &&
                    addInterviewForm.get('OptionA')?.touched
                  "
                >
                  <small
                    *ngIf="
                      addInterviewForm.get('OptionA')?.invalid &&
                      addInterviewForm.get('OptionA')?.touched
                    "
                    class="text-danger"
                  >
                    *Quesitons required</small
                  >
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Option B</label>
                <input
                  class="form-control"
                  type="text"
                  [class.invalid]="
                    addInterviewForm.get('OptionB')?.invalid &&
                    addInterviewForm.get('OptionB')?.touched
                  "
                  formControlName="OptionB"
                />
                <div
                  *ngIf="
                    addInterviewForm.get('OptionB')?.invalid &&
                    addInterviewForm.get('OptionB')?.touched
                  "
                >
                  <small
                    *ngIf="
                      addInterviewForm.get('OptionB')?.invalid &&
                      addInterviewForm.get('OptionB')?.touched
                    "
                    class="text-danger"
                  >
                    *Quesitons required</small
                  >
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Option C</label>
                <input
                  class="form-control"
                  type="text"
                  [class.invalid]="
                    addInterviewForm.get('OptionC')?.invalid &&
                    addInterviewForm.get('OptionC')?.touched
                  "
                  formControlName="OptionC"
                />
                <div
                  *ngIf="
                    addInterviewForm.get('OptionC')?.invalid &&
                    addInterviewForm.get('OptionC')?.touched
                  "
                >
                  <small
                    *ngIf="
                      addInterviewForm.get('OptionC')?.invalid &&
                      addInterviewForm.get('OptionC')?.touched
                    "
                    class="text-danger"
                  >
                    *Quesitons required</small
                  >
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Option D</label>
                <input
                  class="form-control"
                  type="text"
                  [class.invalid]="
                    addInterviewForm.get('OptionD')?.invalid &&
                    addInterviewForm.get('OptionD')?.touched
                  "
                  formControlName="OptionD"
                />
                <div
                  *ngIf="
                    addInterviewForm.get('OptionD')?.invalid &&
                    addInterviewForm.get('OptionD')?.touched
                  "
                >
                  <small
                    *ngIf="
                      addInterviewForm.get('OptionD')?.invalid &&
                      addInterviewForm.get('OptionD')?.touched
                    "
                    class="text-danger"
                  >
                    *Quesitons required</small
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Correct Answer</label>
                <mat-select
                  class="form-control"
                  [class.invalid]="
                    addInterviewForm.get('Correctanswer')?.invalid &&
                    addInterviewForm.get('Correctanswer')?.touched
                  "
                  formControlName="Correctanswer"
                  placeholder="-"
                >
                  <mat-option value="1">-</mat-option>
                  <mat-option value="2">Option A</mat-option>
                  <mat-option value="3">Option B</mat-option>
                  <mat-option value="4">Option C</mat-option>
                  <mat-option value="5">Option D</mat-option>
                </mat-select>
                <div
                  *ngIf="
                    addInterviewForm.get('Correctanswer')?.invalid &&
                    addInterviewForm.get('Correctanswer')?.touched
                  "
                >
                  <small
                    *ngIf="
                      addInterviewForm.get('Correctanswer')?.invalid &&
                      addInterviewForm.get('Correctanswer')?.touched
                    "
                    class="text-danger"
                  >
                    *Quesitons required</small
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Code Snippets</label>
                <textarea class="form-control"> </textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Answer Explanation</label>
                <textarea class="form-control"> </textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Add Video Link</label>
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Add Image To Question</label>
                <input class="form-control" type="file" />
              </div>
            </div>
          </div>
          <div class="submit-section">
            <button class="btn btn-primary submit-btn me-2">Cancel</button>
            <button class="btn btn-primary submit-btn">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Add Questions Modal -->

<!-- Add Category Modal -->
<div id="add_category" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Category</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-12">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Add Category</label>
                <input class="form-control" type="text" />
              </div>
            </div>
          </div>
          <div class="submit-section">
            <button class="btn btn-primary submit-btn me-2">Cancel</button>
            <button class="btn btn-primary submit-btn">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Add Questions Modal -->

<!-- Edit Job Modal -->
<div id="edit_question" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Questions</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editInterviewForm">
          <div class="row">
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Category</label>
                <mat-select class=" form-control" placeholder="HTML">
                  <mat-option value="1">-</mat-option>
                  <mat-option value="2">HTML</mat-option>
                  <mat-option value="3">CSS</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Department</label>
                <mat-select
                  class="form-control"
                  placeholder="Web Development"
                >
                  <mat-option value="1">-</mat-option>
                  <mat-option value="2" selected>Web Development</mat-option>
                  <mat-option value="3">Application Development</mat-option>
                  <mat-option value="4">IT Management</mat-option>
                  <mat-option value="5">Accounts Management</mat-option>
                  <mat-option value="6">Support Management</mat-option>
                  <mat-option value="7">Marketing</mat-option>
                </mat-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Add Questions</label>
                <textarea
                  class="form-control"
                  [class.invalid]="
                    editInterviewForm.get('AddQuestion')?.invalid &&
                    editInterviewForm.get('AddQuestion')?.touched
                  "
                  formControlName="AddQuestion"
                >
													IS management has decided to rewrite a legacy customer relations system using fourth generation languages (4GLs). Which of the following risks is MOST often associated with system development using 4GLs?
												</textarea
                >
                <div
                  *ngIf="
                    editInterviewForm.get('AddQuestion')?.invalid &&
                    editInterviewForm.get('AddQuestion')?.touched
                  "
                >
                  <small
                    *ngIf="
                      editInterviewForm.get('AddQuestion')?.invalid &&
                      editInterviewForm.get('AddQuestion')?.touched
                    "
                    class="text-danger"
                  >
                    *Quesitons required</small
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Option A</label>
                <input
                  class="form-control"
                  type="text"
                  value="Design facilities"
                  [class.invalid]="
                    editInterviewForm.get('OptionA')?.invalid &&
                    editInterviewForm.get('OptionA')?.touched
                  "
                  formControlName="OptionA"
                />
                <div
                  *ngIf="
                    editInterviewForm.get('OptionA')?.invalid &&
                    editInterviewForm.get('OptionA')?.touched
                  "
                >
                  <small
                    *ngIf="
                      editInterviewForm.get('OptionA')?.invalid &&
                      editInterviewForm.get('OptionA')?.touched
                    "
                    class="text-danger"
                  >
                    *Quesitons required</small
                  >
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Option B</label>
                <input
                  class="form-control"
                  type="text"
                  value="language subsets"
                  [class.invalid]="
                    editInterviewForm.get('OptionB')?.invalid &&
                    editInterviewForm.get('OptionB')?.touched
                  "
                  formControlName="OptionB"
                />
                <div
                  *ngIf="
                    editInterviewForm.get('OptionB')?.invalid &&
                    editInterviewForm.get('OptionB')?.touched
                  "
                >
                  <small
                    *ngIf="
                      editInterviewForm.get('OptionB')?.invalid &&
                      editInterviewForm.get('OptionB')?.touched
                    "
                    class="text-danger"
                  >
                    *Quesitons required</small
                  >
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Option C</label>
                <input
                  class="form-control"
                  type="text"
                  value="Lack of portability"
                  [class.invalid]="
                    editInterviewForm.get('OptionC')?.invalid &&
                    editInterviewForm.get('OptionC')?.touched
                  "
                  formControlName="OptionC"
                />
                <div
                  *ngIf="
                    editInterviewForm.get('OptionC')?.invalid &&
                    editInterviewForm.get('OptionC')?.touched
                  "
                >
                  <small
                    *ngIf="
                      editInterviewForm.get('OptionC')?.invalid &&
                      editInterviewForm.get('OptionC')?.touched
                    "
                    class="text-danger"
                  >
                    *Quesitons required</small
                  >
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Option D</label>
                <input
                  class="form-control"
                  type="text"
                  value="Inability to perform data"
                  [class.invalid]="
                    editInterviewForm.get('OptionD')?.invalid &&
                    editInterviewForm.get('OptionD')?.touched
                  "
                  formControlName="OptionD"
                />
                <div
                  *ngIf="
                    editInterviewForm.get('OptionD')?.invalid &&
                    editInterviewForm.get('OptionD')?.touched
                  "
                >
                  <small
                    *ngIf="
                      editInterviewForm.get('OptionD')?.invalid &&
                      editInterviewForm.get('OptionD')?.touched
                    "
                    class="text-danger"
                  >
                    *Quesitons required</small
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Correct Answer</label>
                <mat-select
                  class="form-control"
                  [class.invalid]="
                    editInterviewForm.get('Correctanswer')?.invalid &&
                    editInterviewForm.get('Correctanswer')?.touched
                  "
                  formControlName="Correctanswer"
                >
                  <mat-option value="1">-</mat-option>
                  <mat-option value="2" selected>Option A</mat-option>
                  <mat-option value="3">Option B</mat-option>
                  <mat-option value="4">Option C</mat-option>
                  <mat-option value="5">Option D</mat-option>
                </mat-select>
                <div
                  *ngIf="
                    editInterviewForm.get('Correctanswer')?.invalid &&
                    editInterviewForm.get('Correctanswer')?.touched
                  "
                >
                  <small
                    *ngIf="
                      editInterviewForm.get('Correctanswer')?.invalid &&
                      editInterviewForm.get('Correctanswer')?.touched
                    "
                    class="text-danger"
                  >
                    *Quesitons required</small
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Code Snippets</label>
                <textarea class="form-control"> </textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Answer Explanation</label>
                <textarea class="form-control"> </textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Add Video Link</label>
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Add Image To Question</label>
                <input class="form-control" type="file" />
              </div>
            </div>
          </div>
          <div class="submit-section">
            <button class="btn btn-primary submit-btn me-1">Cancel</button>
            <button class="btn btn-primary submit-btn">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Edit Job Modal -->

<!-- Delete Job Modal -->
<div class="modal custom-modal fade" id="delete_job" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header">
          <h3>Delete</h3>
          <p>Are you sure want to delete?</p>
        </div>
        <div class="modal-btn delete-action">
          <div class="row">
            <div class="col-6">
              <a href="javascript:void(0);" class="btn btn-primary continue-btn"
                >Delete</a
              >
            </div>
            <div class="col-6">
              <a
                href="javascript:void(0);"
                data-bs-dismiss="modal"
                class="btn btn-primary cancel-btn"
                >Cancel</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Delete Job Modal -->
