<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title">Daily Scheduling</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="'/employees/employee-page'">Employees</a></li>
                    <li class="breadcrumb-item active">Shift Scheduling</li>
                </ul>
            </div>
            <div class="col-auto float-end ms-auto">
                <a [routerLink]="'/employees/shift-list'" class="btn add-btn m-r-5">Shifts</a>
                <a href="javascript:void(0);" class="btn add-btn m-r-5" data-bs-toggle="modal" data-bs-target="#add_schedule"> Assign
                    Shifts</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Content Starts -->
    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3">
            <div class="input-block mb-3 form-focus inputs">
                <mat-form-field class="example-full-width">
                    <mat-label>Employee Name</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="input-block mb-3 form-focus select-focus select">
                <mat-form-field appearance="fill">
                    <mat-label>Department</mat-label>
                    <mat-select [(value)]="selected1">
                        <mat-option value="option1">All Department</mat-option>
                        <mat-option value="option2">Finance</mat-option>
                        <mat-option value="option3">Finance and Management</mat-option>
                        <mat-option value="option4">Hr & Finance</mat-option>
                        <mat-option value="option5">ITech</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="input-block mb-3 form-focus inputs">
                <mat-form-field class="example-full-width cal-icon">
                    <mat-label>From</mat-label>
                    <input  bsDatepicker type="text" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="input-block mb-3 form-focus inputs">
                <mat-form-field class="example-full-width cal-icon">
                    <mat-label>To</mat-label>
                    <input  bsDatepicker type="text" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <a href="javascript:void(0);" class="btn btn-success w-100"> Search </a>
        </div>
    </div>
    <!-- Search Filter -->

    <div class="row">
        <div class="col-md-12">
            <div class="table_header">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length">
                            <label>
                                Show
                                <select [(ngModel)]="pageSize" (ngModelChange)="changePageSize()"
                                    class="form-control form-control-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                Entries
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_filter">
                            <label>
                                Search:
                                <input [(ngModel)]="searchDataValue" (ngModelChange)="searchData(searchDataValue)"
                                    class="form-control form-control-sm" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table matSort (matSortChange)="sortData($event)"
                    class="table table-striped custom-table datatable mb-0">
                    <thead>
                        <tr>
                            <th mat-sort-header="name">Scheduled Shift</th>
                            <th>Fri 21</th>
                            <th>Sat 22</th>
                            <th>Sun 23</th>
                            <th>Mon 24</th>
                            <th>Tue 25</th>
                            <th>Wed 26</th>
                            <th>Thu 27</th>
                            <th>Fri 28</th>
                            <th>Sat 29</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of lstArchivedjobs">
                            <td>
                                <h2 class="table-avatar">
                                    <a [routerLink] = "routes.employeeProfile" class="avatar"><img alt=""
                                            [src]="item.img"></a>
                                    <a [routerLink] = "routes.employeeProfile">{{item.name1}}
                                        <span>{{item.name2}}</span></a>
                                </h2>
                            </td>
                            <td>
                                <div class="user-add-shedule-list">
                                    <h2>
                                        <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#edit_schedule"
                                            style="border:2px dashed #1eb53a">
                                            <span class="username-info m-b-10">6:30 am - 9:30 pm ( 14 hrs 15
                                                mins)</span>
                                            <span class="userrole-info">Web Designer - SMARTHR</span>
                                        </a>
                                    </h2>
                                </div>
                            </td>
                            <td>
                                <div class="user-add-shedule-list">
                                    <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#add_schedule">
                                        <span><i class="fa-solid fa-plus"></i></span>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="user-add-shedule-list">
                                    <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#add_schedule">
                                        <span><i class="fa-solid fa-plus"></i></span>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="user-add-shedule-list">
                                    <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#add_schedule">
                                        <span><i class="fa-solid fa-plus"></i></span>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="user-add-shedule-list">
                                    <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#add_schedule">
                                        <span><i class="fa-solid fa-plus"></i></span>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="user-add-shedule-list">
                                    <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#add_schedule">
                                        <span><i class="fa-solid fa-plus"></i></span>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="user-add-shedule-list">
                                    <h2>
                                        <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#edit_schedule"
                                            style="border:2px dashed #1eb53a">
                                            <span class="username-info m-b-10">6:30 am - 9:30 pm ( 14 hrs 15
                                                mins)</span>
                                            <span class="userrole-info">Web Designer - SMARTHR</span>
                                        </a>
                                    </h2>
                                </div>
                            </td>
                            <td>
                                <div class="user-add-shedule-list">
                                    <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#add_schedule">
                                        <span><i class="fa-solid fa-plus"></i></span>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="user-add-shedule-list">
                                    <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#add_schedule">
                                        <span><i class="fa-solid fa-plus"></i></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="lstArchivedjobs.length === 0">
                            <td colspan="10">
                                <h5 style="text-align: center;">No data found</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table_footer">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info">
                        Showing {{ serialNumberArray[0] }} to
                        {{ serialNumberArray[serialNumberArray.length - 1] }} of
                        {{ totalData }} entries
                    </div>
                </div>

                <div class="col-sm-12 col-md-7">
                    <div class="pagination_section">
                        <ul class="pagination">
                            <li class="page-item" [ngClass]="{
                          disabled: currentPage === 1
                        }">
                                <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);"
                                    tabindex="-1">Previous</a>
                            </li>

                            <ng-container *ngFor="let item of pageNumberArray; let i = index">
                                <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                            (pageNumberArray[currentPage - 2] > item &&
                              item !== 1 &&
                              pageNumberArray.length > 6) ||
                            (pageNumberArray[currentPage] < item &&
                              item !== 1 &&
                              pageNumberArray.length > 6 &&
                              pageNumberArray.length !== item)
                              ? 'hide-page-no'
                              : 'show-page-no'
                          ">
                                    <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                                        {{ item }}
                                    </a>
                                </li>
                                <li class="page-item" *ngIf="
                            i === 0 && pageNumberArray.length > 6 && currentPage > 2
                          " [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)" (keydown.enter)="moveToPage(currentPage - 2)" tabindex="0">
                                    <a class="page-link" href="javascript:void(0);"> ... </a>
                                </li>
                                <li *ngIf="
                            i === pageNumberArray.length - 2 &&
                            pageNumberArray.length > 6
                          " [hidden]="
                            currentPage >=
                              pageNumberArray[pageNumberArray.length - 2] ||
                            totalData < serialNumberArray[serialNumberArray.length - 1]
                          " class="page-item" (click)="moveToPage(currentPage + 2)" (keydown.enter)="moveToPage(currentPage + 2)" tabindex="0">
                                    <a class="page-link" href="javascript:void(0);"> ... </a>
                                </li>
                            </ng-container>

                            <li class="page-item" [ngClass]="{
                          disabled:
                            currentPage ===
                              pageNumberArray[pageNumberArray.length - 1] ||
                            lstArchivedjobs.length === 0
                        }">
                                <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);">Next
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Content End -->

</div>
<!-- /Page Content -->
<!-- Add Schedule Modal -->
<div id="add_schedule" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Schedule</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-block mb-3">
                            <label class="col-form-label" for="">Department <span class="text-danger">*</span></label>
                            <mat-select class="form-control" placeholder="Select">
                                <mat-option value="">Select</mat-option>
                                <mat-option value="">Development</mat-option>
                                <mat-option value="1">Finance</mat-option>
                                <mat-option value="2">Finance and Management</mat-option>
                                <mat-option value="3">Hr & Finance</mat-option>
                                <mat-option value="4">ITech</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-block mb-3">
                            <label class="col-form-label" for="">Employee Name <span class="text-danger">*</span></label>
                            <mat-select class="form-control" placeholder="Select">
                                <mat-option value="">Select </mat-option>
                                <mat-option value="1">Richard Miles </mat-option>
                                <mat-option value="2">John Smith</mat-option>
                                <mat-option value="3">Mike Litorus </mat-option>
                                <mat-option value="4">Wilmer Deluna</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-block mb-3 date-input1">
                            <label class="col-form-label" for="">Date</label>
                            <div class="cal-icon"><input class="form-control datetimepicker" type="text" bsDatepicker container=".date-input1">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-block mb-3">
                            <label class="col-form-label" for="">Shifts <span class="text-danger">*</span></label>
                            <mat-select class="form-control" placeholder="Select">
                                <mat-option value="">Select </mat-option>
                                <mat-option value="1">10'o clock Shift</mat-option>
                                <mat-option value="2">10:30 shift</mat-option>
                                <mat-option value="3">Daily Shift </mat-option>
                                <mat-option value="4">New Shift</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-block mb-3">
                            <label class="col-form-label" for="">Min Start Time <span class="text-danger">*</span></label>
                            <div class="input-group time timepicker">
                                <input (click)="toggleTimePcker('minStartTime')" readonly [value]="formatTime(mytime)"
                                    class="form-control"><span class="input-group-text"><i
                                        class="fa-regular fa-clock"></i></span>
                                <timepicker [class.show-sub-menu]="showTimePicker[0]==='minStartTime'"
                                    class="custom-timepicker" [(ngModel)]="mytime"></timepicker>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-block mb-3">
                            <label class="col-form-label" for="">Start Time <span class="text-danger">*</span></label>
                            <div class="input-group time timepicker">
                                <input (click)="toggleTimePcker('StartTime')" readonly [value]="formatTime(zones)"
                                    class="form-control"><span class="input-group-text"><i
                                        class="fa-regular fa-clock"></i></span>
                                <timepicker [class.show-sub-menu]="showTimePicker[0]==='StartTime'"
                                    class="custom-timepicker" [(ngModel)]="zones"></timepicker>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-block mb-3">
                            <label class="col-form-label" for="">Max Start Time <span class="text-danger">*</span></label>
                            <div class="input-group time timepicker">
                                <input (click)="toggleTimePcker('minTime')" readonly [value]="formatTime(setZone)"
                                    class="form-control"><span class="input-group-text"><i
                                        class="fa-regular fa-clock"></i></span>
                                <timepicker [class.show-sub-menu]="showTimePicker[0]==='minTime'"
                                    class="custom-timepicker" [(ngModel)]="setZone"></timepicker>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-block mb-3">
                            <label class="col-form-label" for="">Min End Time <span class="text-danger">*</span></label>
                            <div class="input-group time timepicker">
                                <input (click)="toggleTimePcker('timePick')" readonly [value]="formatTime(myTime)"
                                    class="form-control"><span class="input-group-text"><i
                                        class="fa-regular fa-clock"></i></span>
                                <timepicker [class.show-sub-menu]="showTimePicker[0]==='timePick'"
                                    class="custom-timepicker" [(ngModel)]="myTime"></timepicker>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-block mb-3">
                            <label class="col-form-label" for="">End Time <span class="text-danger">*</span></label>
                            <div class="input-group time timepicker">
                                <input (click)="toggleTimePcker('newTime')" readonly [value]="formatTime(setTime)"
                                    class="form-control"><span class="input-group-text"><i
                                        class="fa-regular fa-clock"></i></span>
                                <timepicker [class.show-sub-menu]="showTimePicker[0]==='newTime'"
                                    class="custom-timepicker" [(ngModel)]="setTime"></timepicker>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-block mb-3">
                            <label class="col-form-label" for="">Max End Time <span class="text-danger">*</span></label>
                            <div class="input-group time timepicker">
                                <input (click)="toggleTimePcker('newDate')" readonly [value]="formatTime(setzone)"
                                    class="form-control"><span class="input-group-text"><i
                                        class="fa-regular fa-clock"></i></span>
                                <timepicker [class.show-sub-menu]="showTimePicker[0]==='newDate'"
                                    class="custom-timepicker" [(ngModel)]="setzone"></timepicker>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-block mb-3">
                            <label class="col-form-label" for="">Break Time <span class="text-danger">*</span></label>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="input-block mb-3">
                            <label class="col-form-label" for="">Accept Extra Hours </label>
                            <div class="custom-control form-check form-switch">
                                <input type="checkbox" class="form-check-input" id="customSwitch1" checked="">
                                <label class="form-check-label" for="customSwitch1"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="input-block mb-3">
                            <label class="col-form-label" for="">Publish </label>
                            <div class="custom-control form-check form-switch">
                                <input type="checkbox" class="form-check-input" id="customSwitch2" checked="">
                                <label class="form-check-label" for="customSwitch2"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="submit-section">
                    <button class="btn btn-primary submit-btn">Submit</button>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- /Add Schedule Modal -->

<!-- Edit Schedule Modal -->
<div id="edit_schedule" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Schedule</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Department <span class="text-danger">*</span></label>
                                <select class="form-select form-control">
                                    <option value="">Select</option>
                                    <option selected value="">Development</option>
                                    <option value="1">Finance</option>
                                    <option value="2">Finance and Management</option>
                                    <option value="3">Hr & Finance</option>
                                    <option value="4">ITech</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Employee Name <span class="text-danger">*</span></label>
                                <select class="form-select form-control">
                                    <option value="">Select </option>
                                    <option selected value="1">Richard Miles </option>
                                    <option value="2">John Smith</option>
                                    <option value="3">Mike Litorus </option>
                                    <option value="4">Wilmer Deluna</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-block mb-3 date-input2">
                                <label class="col-form-label" for="">Date <span class="text-danger">*</span></label>
                                <div class="cal-icon"><input class="form-control datetimepicker" type="text"
                                        bsDatepicker container=".date-input2"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Shifts <span class="text-danger">*</span></label>
                                <mat-select class="form-control">
                                    <mat-option value="">Select </mat-option>
                                    <mat-option value="1">10'o clock Shift</mat-option>
                                    <mat-option value="2">10:30 shift</mat-option>
                                    <mat-option value="3">Daily Shift </mat-option>
                                    <mat-option selected value="4">New Shift</mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Min Start Time<span class="text-danger">*</span></label>
                                <div class="input-group time">
                                    <input class="form-control timepicker" value="10:26 AM"><span class="input-group-text"><i class="fa-regular fa-clock"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Start Time<span class="text-danger">*</span></label>
                                <div class="input-group time">
                                    <input class="form-control timepicker" value="10:26 AM"><span class="input-group-text"><i class="fa-regular fa-clock"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Max End Time<span class="text-danger">*</span></label>
                                <div class="input-group time">
                                    <input class="form-control timepicker" value="10:26 AM"><span class="input-group-text"><i class="fa-regular fa-clock"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Min Start Time<span class="text-danger">*</span></label>
                                <div class="input-group time">
                                    <input class="form-control timepicker" value="10:26 AM"><span class="input-group-text"><i class="fa-regular fa-clock"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">End Time<span class="text-danger">*</span></label>
                                <div class="input-group time">
                                    <input class="form-control timepicker" value="10:26 AM"><span class="input-group-text"><i class="fa-regular fa-clock"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Max End Time  <span class="text-danger">*</span></label>
                                <div class="input-group time">
                                    <input class="form-control timepicker" value="10:26 AM"><span class="input-group-text"><i class="fa-regular fa-clock"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Break Time <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" value="45">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="custom-control custom-checkbox form-check">
                                <input type="checkbox" class="form-check-input" id="customCheck1">
                                <label class="form-check-label" for="customCheck1">Recurring Shift</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Repeat Every</label>
                                <select class="form-select form-control">
                                    <option value="">1 </option>
                                    <option value="1">2</option>
                                    <option value="2">3</option>
                                    <option value="3">4</option>
                                    <option selected value="4">5</option>
                                    <option value="3">6</option>
                                </select>
                                <label class="col-form-label" for="">Week(s)</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-block mb-3 wday-box">

                                <label class="checkbox-inline"><input type="checkbox" name="week_days[]" value="monday"
                                        class="days recurring" checked="" onclick="return false;"><span
                                        class="checkmark">M</span></label>

                                <label class="checkbox-inline"><input type="checkbox" name="week_days[]" value="tuesday"
                                        class="days recurring" checked="" onclick="return false;"><span
                                        class="checkmark">T</span></label>

                                <label class="checkbox-inline"><input type="checkbox" name="week_days[]"
                                        value="wednesday" class="days recurring" checked=""
                                        onclick="return false;"><span class="checkmark">W</span></label>

                                <label class="checkbox-inline"><input type="checkbox" name="week_days[]"
                                        value="thursday" class="days recurring" checked="" onclick="return false;"><span
                                        class="checkmark">T</span></label>

                                <label class="checkbox-inline"><input type="checkbox" name="week_days[]" value="friday"
                                        class="days recurring" checked="" onclick="return false;"><span
                                        class="checkmark">F</span></label>

                                <label class="checkbox-inline"><input type="checkbox" name="week_days[]"
                                        value="saturday" class="days recurring" onclick="return false;"><span
                                        class="checkmark">S</span></label>

                                <label class="checkbox-inline"><input type="checkbox" name="week_days[]" value="sunday"
                                        class="days recurring" onclick="return false;"><span
                                        class="checkmark">S</span></label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">End On <span class="text-danger">*</span></label>
                                <div class="cal-icon"><input class="form-control datetimepicker" type="text"
                                        bsDatepicker></div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="custom-control custom-checkbox form-check">
                                <input type="checkbox" class="form-check-input" id="customCheck2">
                                <label class="form-check-label" for="customCheck2">Indefinite</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Accept Extra Hours </label>
                                <div class="custom-control form-check form-switch">
                                    <input type="checkbox" class="form-check-input" id="customSwitch3" checked="">
                                    <label class="form-check-label" for="customSwitch3"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Publish </label>
                                <div class="custom-control form-check form-switch">
                                    <input type="checkbox" class="form-check-input" id="customSwitch4" checked="">
                                    <label class="form-check-label" for="customSwitch4"></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Schedule Modal -->