<!-- Page Content -->
<div class="content">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Activities</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active">Activities</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="activity">
                <div class="activity-box">
                    <ul class="activity-list">
                        <li>
                            <div class="activity-user">
                                <a [routerLink] = "routes.employeeProfile" title="Lesley Grauer"
                                    data-bs-toggle="tooltip" class="avatar">
                                    <img src="assets/img/profiles/avatar-1.jpg" alt="">
                                </a>
                            </div>
                            <div class="activity-content">
                                <div class="timeline-content">
                                    <a [routerLink] = "routes.employeeProfile" class="name">Lesley Grauer</a>
                                    added new task <a>Hospital Administration</a>
                                    <span class="time">4 mins ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="activity-user">
                                <a [routerLink] = "routes.employeeProfile" class="avatar" title="Jeffery Lalor"
                                    data-bs-toggle="tooltip">
                                    <img src="assets/img/profiles/avatar-2.jpg" alt="">
                                </a>
                            </div>
                            <div class="activity-content">
                                <div class="timeline-content">
                                    <a [routerLink] = "routes.employeeProfile" class="name">Jeffery Lalor</a>
                                    added <a href="javaScript:void(0)" class="name">Loren Gatlin</a> and <a
                                        href="javaScript:void(0)" class="name">Tarah
                                        Shropshire</a> to project <a>Patient appointment booking</a>
                                    <span class="time">6 mins ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="activity-user">
                                <a [routerLink] = "routes.employeeProfile" title="Catherine Manseau"
                                    data-bs-toggle="tooltip" class="avatar">
                                    <img src="assets/img/profiles/avatar-3.jpg" alt="">
                                </a>
                            </div>
                            <div class="activity-content">
                                <div class="timeline-content">
                                    <a [routerLink] = "routes.employeeProfile" class="name">Catherine
                                        Manseau</a> completed task <a>Appointment booking with payment gateway</a>
                                    <span class="time">12 mins ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="activity-user">
                                <a [routerLink] = "routes.employeeProfile" title="Bernardo Galaviz"
                                    data-bs-toggle="tooltip" class="avatar">
                                    <img src="assets/img/profiles/avatar-4.jpg" alt="">
                                </a>
                            </div>
                            <div class="activity-content">
                                <div class="timeline-content">
                                    <a [routerLink] = "routes.employeeProfile" class="name">Bernardo
                                        Galaviz</a> changed the task name <a>Doctor available module</a>
                                    <span class="time">1 day ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="activity-user">
                                <a [routerLink] = "routes.employeeProfile" title="Mike Litorus"
                                    data-bs-toggle="tooltip" class="avatar">
                                    <img src="assets/img/profiles/avatar-5.jpg" alt="">
                                </a>
                            </div>
                            <div class="activity-content">
                                <div class="timeline-content">
                                    <a [routerLink] = "routes.employeeProfile" class="name">Mike Litorus</a>
                                    added new task <a>Patient and Doctor video conferencing</a>
                                    <span class="time">2 days ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="activity-user">
                                <a [routerLink] = "routes.employeeProfile" title="Jeffery Lalor"
                                    data-bs-toggle="tooltip" class="avatar">
                                    <img src="assets/img/profiles/avatar-16.jpg" alt="">
                                </a>
                            </div>
                            <div class="activity-content">
                                <div class="timeline-content">
                                    <a [routerLink] = "routes.employeeProfile" class="name">Jeffery Lalor</a>
                                    added <a href="javaScript:void(0)" class="name">Jeffrey Warden</a> and <a
                                        href="javaScript:void(0)" class="name">Bernardo
                                        Galaviz</a> to the task of <a>Private chat module</a>
                                    <span class="time">7 days ago</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->