<div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true"
  #projectModal>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ isEditMode ? 'Edit Project' : 'Create Project' }}</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="submitForm()">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" formControlName="nom" placeholder="Project name">
            </div>
            <div class="col-md-6 mb-3">
              <label for="description" class="form-label">Description</label>
              <input type="text" class="form-control" id="description" formControlName="description"
                placeholder="Describe the project">
            </div>
          </div>
          <!-- Start Date and End Date in the same line -->
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="startDate" class="form-label">Start Date</label>
              <input type="date" class="form-control" id="startDate" formControlName="dateDebut">

            </div>
            <div class="col-md-6 mb-3">
              <label for="endDate" class="form-label">End Date</label>
              <input type="date" class="form-control" id="endDate" formControlName="dateFin">
            </div>
          </div>
          <!-- Duration and Status in the same line -->
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="duration" class="form-label">Duration</label>
              <input type="number" class="form-control" id="duration" formControlName="duration"
                placeholder="Duration in days" readonly>
            </div>
            <div class="col-md-6 mb-3">
              <label for="status" class="form-label">Status</label>
              <select class="form-control" id="status" formControlName="status">
                <option value="active" selected>Active</option>
                <option value="completed">Completed</option>
                <option value="onHold">On Hold</option>
              </select>
            </div>
          </div>
          <!-- Manager and Backlog in the same line -->
          <div class="col-md-6 mb-3">
            <label for="manager" class="form-label">Manager</label>
            <ng-select class="form-control" [items]="users" bindLabel="username" bindValue="id"
              formControlName="manager"  [searchable]="true">
            </ng-select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
            <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Save' : 'Add' }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

