<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Jobs</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active">Jobs</li>
                </ul>
            </div>
            <div class="col-auto float-end ms-auto">
                <a class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_job"><i class="fa-solid fa-plus"></i>
                    Add Job</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table_header">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length">
                      <label>
                        Show
                        <select
                          [(ngModel)]="pageSize"
                          (ngModelChange)="changePageSize()"
                          class="form-control form-control-sm"
                        >
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                        Entries
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            <div class="table-responsive">
                <table  matSort
                (matSortChange)="sortData($event)" class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th mat-sort-header="id">#</th>
                            <th mat-sort-header="jobTitle">Job Title</th>
                            <th mat-sort-header="department">Department</th>
                            <th mat-sort-header="startDate">Start Date</th>
                            <th mat-sort-header="expireDate">Expire Date</th>
                            <th class="text-center">Job Type</th>
                            <th class="text-center">Status</th>
                            <th>Applicants</th>
                            <th class="text-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let manageJobs of allManageJobs;let i = index">
                            <td>{{ 1 + i }}</td>
                            <td><a [routerLink]="'/layout/jobs/job-details'">{{manageJobs.jobTitle}}</a></td>
                            <td>{{manageJobs.department}}</td>
                            <td>{{manageJobs.startDate }}</td>
                            <td>{{manageJobs.expireDate }}</td>
                            <td class="text-center">
                                <div class="dropdown action-label">
                                    <a class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-regular fa-circle-dot" [ngClass]="{'text-success':manageJobs.time ==='PartTime','text-danger':manageJobs.time ==='Full Time'||manageJobs.time ==='Internship'}"></i> {{manageJobs.time}}
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="javascript:void(0);"><i class="fa-regular fa-circle-dot text-info me-1"></i> Full Time</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i class="fa-regular fa-circle-dot text-success me-1"></i> Part Time</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i class="fa-regular fa-circle-dot text-danger me-1"></i> Internship</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i class="fa-regular fa-circle-dot text-warning me-1"></i> Temporary</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i class="fa-regular fa-circle-dot text-warning me-1"></i> Other</a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="dropdown action-label">
                                    <a class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-regular fa-circle-dot" [ngClass]="{'text-success': manageJobs.available === 'Closed','text-danger': manageJobs.available === 'Open'|| manageJobs.available === 'Cancelled'}"></i> {{manageJobs.available}}
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="javascript:void(0);"><i class="fa-regular fa-circle-dot text-info me-1"></i> Open</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i class="fa-regular fa-circle-dot text-success  me-1"></i> Closed</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i class="fa-regular fa-circle-dot text-danger me-1"></i> Cancelled</a>
                                    </div>
                                </div>
                            </td>
                            <td><a [routerLink]="'/jobs/jobs-applicants'" class="btn btn-sm btn-primary">
                                    {{manageJobs.staff}}</a></td>
                            <td class="text-end">
                                <div class="dropdown dropdown-action">
                                    <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#edit_job"><i
                                                class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#delete_job"><i
                                                class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="allManageJobs.length === 0">
                            <td colspan="10">
                                <h5 style="text-align: center;">No data found</h5>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table_footer">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info">
                    Showing {{ serialNumberArray[0] }} to
                    {{ serialNumberArray[serialNumberArray.length - 1] }} of
                    {{ totalData }} entries
                  </div>
                </div>
        
                <div class="col-sm-12 col-md-7">
                  <div class="pagination_section">
                    <ul class="pagination">
                      <li
                        class="page-item"
                        [ngClass]="{
                          disabled: currentPage === 1
                        }"
                      >
                        <a
                          (click)="getMoreData('previous')"
                          class="page-link"
                          href="javascript:void(0);"
                          tabindex="-1"
                          >Previous</a
                        >
                      </li>
        
                      <ng-container *ngFor="let item of pageNumberArray; let i = index">
                        <li
                          class="page-item"
                          [class.active]="item === currentPage"
                          [ngClass]="
                            (pageNumberArray[currentPage - 2] > item &&
                              item !== 1 &&
                              pageNumberArray.length > 6) ||
                            (pageNumberArray[currentPage] < item &&
                              item !== 1 &&
                              pageNumberArray.length > 6 &&
                              pageNumberArray.length !== item)
                              ? 'hide-page-no'
                              : 'show-page-no'
                          "
                        >
                          <a
                            (click)="moveToPage(item)"
                            class="page-link"
                            href="javascript:void(0);"
                          >
                            {{ item }}
                          </a>
                        </li>
                        <li
                          class="page-item"
                          *ngIf="
                            i === 0 && pageNumberArray.length > 6 && currentPage > 2
                          "
                          [hidden]="currentPage === 1"
                          (click)="moveToPage(currentPage - 2)" (keydown.enter)="moveToPage(currentPage - 2)" tabindex="0"
                        >
                          <a class="page-link" href="javascript:void(0);"> ... </a>
                        </li>
                        <li
                          *ngIf="
                            i === pageNumberArray.length - 2 &&
                            pageNumberArray.length > 6
                          "
                          [hidden]="
                            currentPage >=
                              pageNumberArray[pageNumberArray.length - 2] ||
                            totalData < serialNumberArray[serialNumberArray.length - 1]
                          "
                          class="page-item"
                          (click)="moveToPage(currentPage + 2)" (keydown.enter)="moveToPage(currentPage + 2)" tabindex="0"
                        >
                          <a class="page-link" href="javascript:void(0);"> ... </a>
                        </li>
                      </ng-container>
        
                      <li
                        class="page-item"
                        [ngClass]="{
                          disabled:
                            currentPage ===
                              pageNumberArray[pageNumberArray.length - 1] ||
                            allManageJobs.length === 0
                        }"
                      >
                        <a
                          (click)="getMoreData('next')"
                          class="page-link"
                          href="javascript:void(0);"
                          >Next
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
<!-- Add Job Modal -->
<div id="add_job" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Job</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addManageJobs">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Job Title</label>
                                <input class="form-control" type="text"  [class.invalid]="addManageJobs.get('addJobTitle')?.invalid && addManageJobs.get('addJobTitle')?.touched"
                                formControlName="addJobTitle">
                                <div
                                *ngIf="addManageJobs.get('addJobTitle')?.invalid && addManageJobs.get('addJobTitle')?.touched">
                                <small
                                    *ngIf="addManageJobs.get('addJobTitle')?.invalid && addManageJobs.get('addJobTitle')?.touched"
                                    class="text-danger"> *Job title is required</small>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label  class="col-form-label" for="">Department</label>
                                <mat-select  class="form-control" [class.invalid]="addManageJobs.get('addDepartment')?.invalid && addManageJobs.get('addDepartment')?.touched"
                                formControlName="addDepartment" placeholder="-">
                                    <mat-option>-</mat-option>
                                    <mat-option value="development">Web Development</mat-option>
                                    <mat-option value="application">Application Development</mat-option>
                                    <mat-option value="it">IT Management</mat-option>
                                    <mat-option value="accounts">Accounts Management</mat-option>
                                    <mat-option value="support">Support Management</mat-option>
                                    <mat-option value="marketing">Marketing</mat-option>
                                </mat-select>
                                <div
                                *ngIf="addManageJobs.get('addDepartment')?.invalid && addManageJobs.get('addDepartment')?.touched">
                                <small
                                    *ngIf="addManageJobs.get('addDepartment')?.invalid && addManageJobs.get('addDepartment')?.touched"
                                    class="text-danger"> *Department is required</small>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label  class="col-form-label" for="">Job Location</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label  class="col-form-label" for="">No of Vacancies</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label  class="col-form-label" for="">Experience</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label  class="col-form-label" for="">Age</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label  class="col-form-label" for="">Salary From</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label  class="col-form-label" for="">Salary To</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label  class="col-form-label" for="">Job Type</label>
                                <mat-select  class="form-control" placeholder="Full Time">
                                    <mat-option value="fulltime">Full Time</mat-option>
                                    <mat-option value="parttime">Part Time</mat-option>
                                    <mat-option value="internship">Internship</mat-option>
                                    <mat-option value="temporary">Temporary</mat-option>
                                    <mat-option value="remote">Remote</mat-option>
                                    <mat-option value="others">Others</mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label  class="col-form-label" for="">Status</label>
                                <mat-select  class="form-control" placeholder="Open">
                                    <mat-option value="open">Open</mat-option>
                                    <mat-option value="closed">Closed</mat-option>
                                    <mat-option value="cancelled">Cancelled</mat-option>
                                </mat-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-block mb-3 date-input1">
                                <label  class="col-form-label" for="">Start Date</label>
                                <input type="text" class="form-control datetimepicker" bsDatepicker container=".date-input1" type="text"  [class.invalid]="addManageJobs.get('addStartDate')?.invalid && addManageJobs.get('addStartDate')?.touched"
                                formControlName="addStartDate">
                                <div
                                *ngIf="addManageJobs.get('addStartDate')?.invalid && addManageJobs.get('addStartDate')?.touched">
                                <small
                                    *ngIf="addManageJobs.get('addStartDate')?.invalid && addManageJobs.get('addStartDate')?.touched"
                                    class="text-danger"> *Start date is required</small>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3 date-input2">
                                <label  class="col-form-label" for="">Expired Date</label>
                                <input type="text" class="form-control datetimepicker" bsDatepicker container=".date-input2" type="text"  [class.invalid]="addManageJobs.get('addExpireDate')?.invalid && addManageJobs.get('addExpireDate')?.touched"
                                formControlName="addExpireDate">
                                <div
                                *ngIf="addManageJobs.get('addExpireDate')?.invalid && addManageJobs.get('addExpireDate')?.touched">
                                <small
                                    *ngIf="addManageJobs.get('addExpireDate')?.invalid && addManageJobs.get('addExpireDate')?.touched"
                                    class="text-danger"> *Expire date is required</small>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-block mb-3">
                                <label  class="col-form-label" for="">Description</label>
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Job Modal -->

<!-- Edit Job Modal -->
<div id="edit_job" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Job</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editManageJobs">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Job Title</label>
                                <input class="form-control" type="text"  [class.invalid]="editManageJobs.get('editJobTitle')?.invalid && editManageJobs.get('editJobTitle')?.touched"
                                formControlName="editJobTitle">
                                <div
                                *ngIf="editManageJobs.get('editJobTitle')?.invalid && editManageJobs.get('editJobTitle')?.touched">
                                <small
                                    *ngIf="editManageJobs.get('editJobTitle')?.invalid && editManageJobs.get('editJobTitle')?.touched"
                                    class="text-danger"> *Job Title is required</small>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label  class="col-form-label" for="">Department</label>
                                <mat-select class="form-control" [class.invalid]="editManageJobs.get('editDepartment')?.invalid && editManageJobs.get('editDepartment')?.touched"
                                formControlName="editDepartment" placeholder="-">
                                    <mat-option>-</mat-option>
                                    <mat-option selected>Web Development</mat-option>
                                    <mat-option value="development">Application Development</mat-option>
                                    <mat-option value="it">IT Management</mat-option>
                                    <mat-option value="accounts">Accounts Management</mat-option>
                                    <mat-option value="support">Support Management</mat-option>
                                    <mat-option value="marketing">Marketing</mat-option>
                                </mat-select>
                                <div
                                *ngIf="editManageJobs.get('editDepartment')?.invalid && editManageJobs.get('editDepartment')?.touched">
                                <small
                                    *ngIf="editManageJobs.get('editDepartment')?.invalid && editManageJobs.get('editDepartment')?.touched"
                                    class="text-danger"> *Department is required</small>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label  class="col-form-label" for="">Job Location</label>
                                <input class="form-control" type="text" value="California">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label  class="col-form-label" for="">No of Vacancies</label>
                                <input class="form-control" type="text" value="5">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label  class="col-form-label" for="">Experience</label>
                                <input class="form-control" type="text" value="2 Years">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label  class="col-form-label" for="">Age</label>
                                <input class="form-control" type="text" value="-">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label  class="col-form-label" for="">Salary From</label>
                                <input type="text" class="form-control" value="32k">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label  class="col-form-label" for="">Salary To</label>
                                <input type="text" class="form-control" value="38k">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label  class="col-form-label" for="">Job Type</label>
                                <mat-select  class="form-control" placeholder="Full Time">
                                    <mat-option selected>Full Time</mat-option>
                                    <mat-option value="time2">Part Time</mat-option>
                                    <mat-option value="internship">Internship</mat-option>
                                    <mat-option value="Temporary">Temporary</mat-option>
                                    <mat-option value="remote">Remote</mat-option>
                                    <mat-option value="others">Others</mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3">
                                <label  class="col-form-label" for="">Status</label>
                                <mat-select   class="form-control" placeholder="Open">
                                    <mat-option value="open" selected >Open</mat-option>
                                    <mat-option value="closed">Closed</mat-option>
                                    <mat-option value="cancelled">Cancelled</mat-option>
                                </mat-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-block mb-3 date-input3">
                                <label  class="col-form-label" for="">Start Date</label>
                                <input type="text" class="form-control datetimepicker" bsDatepicker container=".date-input3" type="text"  [class.invalid]="editManageJobs.get('editStartDate')?.invalid && editManageJobs.get('editStartDate')?.touched"
                                formControlName="editStartDate">
                                <div
                                *ngIf="editManageJobs.get('editStartDate')?.invalid && editManageJobs.get('editStartDate')?.touched">
                                <small
                                    *ngIf="editManageJobs.get('editStartDate')?.invalid && editManageJobs.get('editStartDate')?.touched"
                                    class="text-danger"> *Start Date is required</small>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-block mb-3 date-input4">
                                <label  class="col-form-label" for="">Expired Date</label>
                                <input type="text" class="form-control datetimepicker" bsDatepicker container=".date-input4" type="text" [class.invalid]="editManageJobs.get('editExpireDate')?.invalid && editManageJobs.get('editExpireDate')?.touched"
                                formControlName="editExpireDate" >
                                <div
                                *ngIf="editManageJobs.get('editExpireDate')?.invalid && editManageJobs.get('editExpireDate')?.touched">
                                <small
                                    *ngIf="editManageJobs.get('editExpireDate')?.invalid && editManageJobs.get('editExpireDate')?.touched"
                                    class="text-danger"> *Expired Date is required</small>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-block mb-3">
                                <label class="col-form-label" for="">Description</label>
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Job Modal -->

<!-- Delete Job Modal -->
<div class="modal custom-modal fade" id="delete_job" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Job</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a  class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a  data-bs-dismiss="modal"
                                class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Job Modal -->