<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Search</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active">Search</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Content Starts -->
    <div class="row">
        <div class="col-12">

            <!-- Search Form -->
            <div class="main-search">
                <form action="#">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <button class="btn btn-primary" type="button">Search</button>
                    </div>
                </form>
            </div>
            <!-- /Search Form -->

            <div class="search-result">
                <h3>Search Result Found For: <u>Keyword</u></h3>
                <p>215 Results found</p>
            </div>

            <div class="search-lists">
                <ul class="nav nav-tabs nav-tabs-solid">
                    <li class="nav-item"><a class="nav-link active" href="#results_projects"
                            data-bs-toggle="tab">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="#results_clients" data-bs-toggle="tab">Clients</a></li>
                    <li class="nav-item"><a class="nav-link" href="#results_users" data-bs-toggle="tab">Users</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane show active" id="results_projects">

                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-md-4 col-xl-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown profile-action">
                                            <a aria-expanded="false" data-bs-toggle="dropdown" class="action-icon dropdown-toggle"><i
                                                    class="material-icons material-color">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a data-bs-target="#edit_project" data-bs-toggle="modal" class="dropdown-item"><i
                                                        class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                                                <a data-bs-target="#delete_project" data-bs-toggle="modal" class="dropdown-item"><i
                                                        class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                        <h4 class="project-title"><a [routerLink]="routes.projectView">Office Management</a></h4>
                                        <small class="block text-ellipsis m-b-15">
                                            <span class="text-xs me-1">1</span> <span class="text-muted">open tasks, </span>
                                            <span class="text-xs me-1">9</span> <span class="text-muted">tasks completed</span>
                                        </small>
                                        <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. When an unknown printer took a galley of type and
                                            scrambled it...
                                        </p>
                                        <div class="pro-deadline m-b-15">
                                            <div class="sub-title">
                                                Deadline:
                                            </div>
                                            <div class="text-muted">
                                                17 Apr 2023
                                            </div>
                                        </div>
                                        <div class="project-members m-b-15">
                                            <div>Project Leader :</div>
                                            <ul class="team-members">
                                                <li>
                                                    <a data-bs-toggle="tooltip" title="Danniel david"><img alt=""
                                                            src="assets/img/profiles/avatar-19.jpg"></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="project-members m-b-15">
                                            <div>Team :</div>
                                            <ul class="team-members">
                                                <li>
                                                    <a data-bs-toggle="tooltip" title="John Doe"><img alt=""
                                                            src="assets/img/profiles/avatar-2.jpg"></a>
                                                </li>
                                                <li>
                                                    <a data-bs-toggle="tooltip" title="Richard Miles"><img alt=""
                                                            src="assets/img/profiles/avatar-9.jpg"></a>
                                                </li>
                                                <li>
                                                    <a data-bs-toggle="tooltip" title="John Smith"><img alt=""
                                                            src="assets/img/profiles/avatar-10.jpg"></a>
                                                </li>
                                                <li>
                                                    <a data-bs-toggle="tooltip" title="Mike Litorus"><img alt=""
                                                            src="assets/img/profiles/avatar-5.jpg"></a>
                                                </li>
                                                <li>
                                                    <a class="all-users">+15</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <p class="m-b-5">Progress <span class="text-success float-end">40%</span></p>
                                        <div class="progress progress-xs mb-0">
                                            <div style="width: 40%" title="" data-bs-toggle="tooltip" role="progressbar"
                                                class="progress-bar bg-success" data-original-title="40%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                            <div class="col-lg-4 col-sm-6 col-md-4 col-xl-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown profile-action">
                                            <a aria-expanded="false" data-bs-toggle="dropdown" class="action-icon dropdown-toggle"><i
                                                    class="material-icons material-color">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a data-bs-target="#edit_project" data-bs-toggle="modal" class="dropdown-item"><i
                                                        class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                                                <a data-bs-target="#delete_project" data-bs-toggle="modal" class="dropdown-item"><i
                                                        class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                        <h4 class="project-title"><a [routerLink]="routes.projectView">Project Management</a></h4>
                                        <small class="block text-ellipsis m-b-15">
                                            <span class="text-xs me-1">2</span> <span class="text-muted">open tasks, </span>
                                            <span class="text-xs me-1">5</span> <span class="text-muted">tasks completed</span>
                                        </small>
                                        <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. When an unknown printer took a galley of type and
                                            scrambled it...
                                        </p>
                                        <div class="pro-deadline m-b-15">
                                            <div class="sub-title">
                                                Deadline:
                                            </div>
                                            <div class="text-muted">
                                                17 Apr 2023
                                            </div>
                                        </div>
                                        <div class="project-members m-b-15">
                                            <div>Project Leader :</div>
                                            <ul class="team-members">
                                                <li>
                                                    <a data-bs-toggle="tooltip" title="Micard hentry"><img alt=""
                                                            src="assets/img/profiles/avatar-8.jpg"></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="project-members m-b-15">
                                            <div>Team :</div>
                                            <ul class="team-members">
                                                <li>
                                                    <a data-bs-toggle="tooltip" title="John Doe"><img alt=""
                                                            src="assets/img/profiles/avatar-2.jpg"></a>
                                                </li>
                                                <li>
                                                    <a data-bs-toggle="tooltip" title="Richard Miles"><img alt=""
                                                            src="assets/img/profiles/avatar-9.jpg"></a>
                                                </li>
                                                <li>
                                                    <a data-bs-toggle="tooltip" title="John Smith"><img alt=""
                                                            src="assets/img/profiles/avatar-10.jpg"></a>
                                                </li>
                                                <li>
                                                    <a data-bs-toggle="tooltip" title="Mike Litorus"><img alt=""
                                                            src="assets/img/profiles/avatar-5.jpg"></a>
                                                </li>
                                                <li>
                                                    <a class="all-users">+15</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <p class="m-b-5">Progress <span class="text-success float-end">40%</span></p>
                                        <div class="progress progress-xs mb-0">
                                            <div style="width: 40%" title="" data-bs-toggle="tooltip" role="progressbar"
                                                class="progress-bar bg-success" data-original-title="40%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                            <div class="col-lg-4 col-sm-6 col-md-4 col-xl-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown profile-action">
                                            <a aria-expanded="false" data-bs-toggle="dropdown" class="action-icon dropdown-toggle"><i
                                                    class="material-icons material-color">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a data-bs-target="#edit_project" data-bs-toggle="modal" class="dropdown-item"><i
                                                        class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                                                <a data-bs-target="#delete_project" data-bs-toggle="modal" class="dropdown-item"><i
                                                        class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                        <h4 class="project-title"><a [routerLink]="routes.projectView">Video Calling App</a></h4>
                                        <small class="block text-ellipsis m-b-15">
                                            <span class="text-xs me-1">3</span> <span class="text-muted">open tasks, </span>
                                            <span class="text-xs me-1">3</span> <span class="text-muted">tasks completed</span>
                                        </small>
                                        <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. When an unknown printer took a galley of type and
                                            scrambled it...
                                        </p>
                                        <div class="pro-deadline m-b-15">
                                            <div class="sub-title">
                                                Deadline:
                                            </div>
                                            <div class="text-muted">
                                                17 Apr 2023
                                            </div>
                                        </div>
                                        <div class="project-members m-b-15">
                                            <div>Project Leader :</div>
                                            <ul class="team-members">
                                                <li>
                                                    <a data-bs-toggle="tooltip" title="Richard hert"><img alt=""
                                                            src="assets/img/profiles/avatar-11.jpg"></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="project-members m-b-15">
                                            <div>Team :</div>
                                            <ul class="team-members">
                                                <li>
                                                    <a data-bs-toggle="tooltip" title="John Doe"><img alt=""
                                                            src="assets/img/profiles/avatar-2.jpg"></a>
                                                </li>
                                                <li>
                                                    <a data-bs-toggle="tooltip" title="Richard Miles"><img alt=""
                                                            src="assets/img/profiles/avatar-9.jpg"></a>
                                                </li>
                                                <li>
                                                    <a data-bs-toggle="tooltip" title="John Smith"><img alt=""
                                                            src="assets/img/profiles/avatar-10.jpg"></a>
                                                </li>
                                                <li>
                                                    <a data-bs-toggle="tooltip" title="Mike Litorus"><img alt=""
                                                            src="assets/img/profiles/avatar-5.jpg"></a>
                                                </li>
                                                <li>
                                                    <a class="all-users">+15</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <p class="m-b-5">Progress <span class="text-success float-end">40%</span></p>
                                        <div class="progress progress-xs mb-0">
                                            <div style="width: 40%" title="" data-bs-toggle="tooltip" role="progressbar"
                                                class="progress-bar bg-success" data-original-title="40%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                            <div class="col-lg-4 col-sm-6 col-md-4 col-xl-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown profile-action">
                                            <a aria-expanded="false" data-bs-toggle="dropdown" class="action-icon dropdown-toggle"><i
                                                    class="material-icons material-color">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a data-bs-target="#edit_project" data-bs-toggle="modal" class="dropdown-item"><i
                                                        class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                                                <a data-bs-target="#delete_project" data-bs-toggle="modal" class="dropdown-item"><i
                                                        class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                        <h4 class="project-title"><a [routerLink]="routes.projectView">Hospital Administration</a></h4>
                                        <small class="block text-ellipsis m-b-15">
                                            <span class="text-xs me-1">12</span> <span class="text-muted">open tasks, </span>
                                            <span class="text-xs space">4</span> <span class="text-muted">tasks completed</span>
                                        </small>
                                        <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. When an unknown printer took a galley of type and
                                            scrambled it...
                                        </p>
                                        <div class="pro-deadline m-b-15">
                                            <div class="sub-title">
                                                Deadline:
                                            </div>
                                            <div class="text-muted">
                                                17 Apr 2023
                                            </div>
                                        </div>
                                        <div class="project-members m-b-15">
                                            <div>Project Leader :</div>
                                            <ul class="team-members">
                                                <li>
                                                    <a data-bs-toggle="tooltip" title="Micard hentry"><img alt=""
                                                            src="assets/img/profiles/avatar-12.jpg"></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="project-members m-b-15">
                                            <div>Team :</div>
                                            <ul class="team-members">
                                                <li>
                                                    <a data-bs-toggle="tooltip" title="John Doe"><img alt=""
                                                            src="assets/img/profiles/avatar-2.jpg"></a>
                                                </li>
                                                <li>
                                                    <a data-bs-toggle="tooltip" title="Richard Miles"><img alt=""
                                                            src="assets/img/profiles/avatar-9.jpg"></a>
                                                </li>
                                                <li>
                                                    <a data-bs-toggle="tooltip" title="John Smith"><img alt=""
                                                            src="assets/img/profiles/avatar-10.jpg"></a>
                                                </li>
                                                <li>
                                                    <a data-bs-toggle="tooltip" title="Mike Litorus"><img alt=""
                                                            src="assets/img/profiles/avatar-5.jpg"></a>
                                                </li>
                                                <li>
                                                    <a class="all-users">+15</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <p class="m-b-5">Progress <span class="text-success float-end">40%</span></p>
                                        <div class="progress progress-xs mb-0">
                                            <div style="width: 40%" title="" data-bs-toggle="tooltip" role="progressbar"
                                                class="progress-bar bg-success" data-original-title="40%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane" id="results_clients">

                        <div class="row staff-grid-row">
                            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                                <div class="profile-widget">
                                    <div class="profile-img">
                                        <a [routerLink]="routes.clientProfile" class="avatar"><img alt=""
                                                src="assets/img/profiles/avatar-19.jpg"></a>
                                    </div>
                                    <div class="dropdown profile-action">
                                        <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#edit_client"><i
                                                    class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#delete_client"><i
                                                    class="fa-regular fa-trash-can m-r-5"></i>
                                                Delete</a>
                                        </div>
                                    </div>
                                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a
                                        [routerLink]="routes.clientProfile">Global
                                            Technologies</a></h4>
                                    <h5 class="user-name m-t-10 mb-0 text-ellipsis"><a
                                        [routerLink]="routes.clientProfile">Barry
                                            Cuda</a></h5>
                                    <div class="small text-muted">CEO</div>
                                    <a [routerLink]="routes.chat" class="btn btn-white btn-sm m-t-10 me-1">Message</a>
                                    <a [routerLink]="routes.clientProfile" class="btn btn-white btn-sm m-t-10">View
                                        Profile</a>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                                <div class="profile-widget">
                                    <div class="profile-img">
                                        <a [routerLink]="routes.clientProfile" class="avatar"><img alt=""
                                                src="assets/img/profiles/avatar-29.jpg"></a>
                                    </div>
                                    <div class="dropdown profile-action">
                                        <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#edit_client"><i
                                                    class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#delete_client"><i
                                                    class="fa-regular fa-trash-can m-r-5"></i>
                                                Delete</a>
                                        </div>
                                    </div>
                                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a
                                        [routerLink]="routes.clientProfile">Delta
                                            Infotech</a></h4>
                                    <h5 class="user-name m-t-10 mb-0 text-ellipsis"><a
                                        [routerLink]="routes.clientProfile">Tressa
                                            Wexler</a></h5>
                                    <div class="small text-muted">Manager</div>
                                    <a [routerLink]="routes.chat" class="btn btn-white btn-sm m-t-10  me-1">Message</a>
                                    <a [routerLink]="routes.clientProfile" class="btn btn-white btn-sm m-t-10">View
                                        Profile</a>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                                <div class="profile-widget">
                                    <div class="profile-img">
                                        <a [routerLink]="routes.clientProfile" class="avatar"><img
                                                src="assets/img/profiles/avatar-7.jpg" alt=""></a>
                                    </div>
                                    <div class="dropdown profile-action">
                                        <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#edit_client"><i
                                                    class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#delete_client"><i
                                                    class="fa-regular fa-trash-can m-r-5"></i>
                                                Delete</a>
                                        </div>
                                    </div>
                                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a
                                        [routerLink]="routes.clientProfile">Cream
                                            Inc</a></h4>
                                    <h5 class="user-name m-t-10 mb-0 text-ellipsis"><a
                                        [routerLink]="routes.clientProfile">Ruby
                                            Bartlett</a></h5>
                                    <div class="small text-muted">CEO</div>
                                    <a [routerLink]="routes.chat" class="btn btn-white btn-sm m-t-10 me-1">Message</a>
                                    <a [routerLink]="routes.clientProfile" class="btn btn-white btn-sm m-t-10">View
                                        Profile</a>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                                <div class="profile-widget">
                                    <div class="profile-img">
                                        <a [routerLink]="routes.clientProfile" class="avatar"><img
                                                src="assets/img/profiles/avatar-6.jpg" alt=""></a>
                                    </div>
                                    <div class="dropdown profile-action">
                                        <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#edit_client"><i
                                                    class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#delete_client"><i
                                                    class="fa-regular fa-trash-can m-r-5"></i>
                                                Delete</a>
                                        </div>
                                    </div>
                                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a
                                        [routerLink]="routes.clientProfile">Wellware Company</a></h4>
                                    <h5 class="user-name m-t-10 mb-0 text-ellipsis"><a
                                        [routerLink]="routes.clientProfile">Misty
                                            Tison</a></h5>
                                    <div class="small text-muted">CEO</div>
                                    <a [routerLink]="routes.chat" class="btn btn-white btn-sm m-t-10 me-1">Message</a>
                                    <a [routerLink]="routes.clientProfile" class="btn btn-white btn-sm m-t-10">View
                                        Profile</a>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                                <div class="profile-widget">
                                    <div class="profile-img">
                                        <a [routerLink]="routes.clientProfile" class="avatar"><img alt=""
                                                src="assets/img/profiles/avatar-14.jpg"></a>
                                    </div>
                                    <div class="dropdown profile-action">
                                        <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#edit_client"><i
                                                    class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#delete_client"><i
                                                    class="fa-regular fa-trash-can m-r-5"></i>
                                                Delete</a>
                                        </div>
                                    </div>
                                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a
                                            [routerLink]="routes.clientProfile">Mustang Technologies</a></h4>
                                    <h5 class="user-name m-t-10 mb-0 text-ellipsis"><a
                                            [routerLink]="routes.clientProfile">Daniel
                                            Deacon</a></h5>
                                    <div class="small text-muted">CEO</div>
                                    <a [routerLink]="routes.chat" class="btn btn-white btn-sm m-t-10 me-1">Message</a>
                                    <a [routerLink]="routes.clientProfile" class="btn btn-white btn-sm m-t-10">View
                                        Profile</a>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                                <div class="profile-widget">
                                    <div class="profile-img">
                                        <a [routerLink]="routes.clientProfile" class="avatar"><img alt=""
                                                src="assets/img/profiles/avatar-18.jpg"></a>
                                    </div>
                                    <div class="dropdown profile-action">
                                        <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#edit_client"><i
                                                    class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#delete_client"><i
                                                    class="fa-regular fa-trash-can m-r-5"></i>
                                                Delete</a>
                                        </div>
                                    </div>
                                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a
                                            [routerLink]="routes.clientProfile">International Software Inc</a></h4>
                                    <h5 class="user-name m-t-10 mb-0 text-ellipsis"><a
                                            [routerLink]="routes.clientProfile">Walter
                                            Weaver</a></h5>
                                    <div class="small text-muted">CEO</div>
                                    <a [routerLink]="routes.chat" class="btn btn-white btn-sm m-t-10 me-1">Message</a>
                                    <a [routerLink]="routes.clientProfile" class="btn btn-white btn-sm m-t-10">View
                                        Profile</a>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                                <div class="profile-widget">
                                    <div class="profile-img">
                                        <a [routerLink]="routes.clientProfile" class="avatar"><img alt=""
                                                src="assets/img/profiles/avatar-28.jpg"></a>
                                    </div>
                                    <div class="dropdown profile-action">
                                        <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#edit_client"><i
                                                    class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#delete_client"><i
                                                    class="fa-regular fa-trash-can m-r-5"></i>
                                                Delete</a>
                                        </div>
                                    </div>
                                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a
                                            [routerLink]="routes.clientProfile">Mercury Software Inc</a></h4>
                                    <h5 class="user-name m-t-10 mb-0 text-ellipsis"><a
                                            [routerLink]="routes.clientProfile">Amanda
                                            Warren</a></h5>
                                    <div class="small text-muted">CEO</div>
                                    <a [routerLink]="routes.chat" class="btn btn-white btn-sm m-t-10 me-1">Message</a>
                                    <a [routerLink]="routes.clientProfile" class="btn btn-white btn-sm m-t-10">View
                                        Profile</a>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                                <div class="profile-widget">
                                    <div class="profile-img">
                                        <a [routerLink]="routes.clientProfile" class="avatar"><img alt=""
                                                src="assets/img/profiles/avatar-13.jpg"></a>
                                    </div>
                                    <div class="dropdown profile-action">
                                        <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#edit_client"><i
                                                    class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#delete_client"><i
                                                    class="fa-regular fa-trash-can m-r-5"></i>
                                                Delete</a>
                                        </div>
                                    </div>
                                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a
                                            [routerLink]="routes.clientProfile">Carlson Tech</a></h4>
                                    <h5 class="user-name m-t-10 mb-0 text-ellipsis"><a
                                            [routerLink]="routes.clientProfile">Betty
                                            Carlson</a></h5>
                                    <div class="small text-muted">CEO</div>
                                    <a [routerLink]="routes.chat" class="btn btn-white btn-sm m-t-10 me-1">Message</a>
                                    <a [routerLink]="routes.clientProfile" class="btn btn-white btn-sm m-t-10">View
                                        Profile</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane" id="results_users">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Company</th>
                                        <th>Created Date</th>
                                        <th>Role</th>
                                        <th class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a [routerLink] = "routes.employeeProfile" class="avatar"><img
                                                        src="assets/img/profiles/avatar-21.jpg" alt=""></a>
                                                <a [routerLink] = "routes.employeeProfile">Daniel Porter
                                                    <span>Admin</span></a>
                                            </h2>
                                        </td>
                                        <td>danielporter@example.com</td>
                                        <td>Dreamguy's Technologies</td>
                                        <td>1 Jan 2013</td>
                                        <td>
                                            <span class="badge bg-inverse-danger">Admin</span>
                                        </td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                                    aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-bs-toggle="modal"
                                                        data-bs-target="#edit_user"><i class="fa-solid fa-pencil m-r-5"></i>
                                                        Edit</a>
                                                    <a class="dropdown-item" data-bs-toggle="modal"
                                                        data-bs-target="#delete_user"><i class="fa-regular fa-trash-can m-r-5"></i>
                                                        Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a [routerLink] = "routes.employeeProfile" class="avatar"><img alt=""
                                                        src="assets/img/profiles/avatar-2.jpg"></a>
                                                <a [routerLink] = "routes.employeeProfile">John Doe <span>Web
                                                        Designer</span></a>
                                            </h2>
                                        </td>
                                        <td>johndoe@example.com</td>
                                        <td>Dreamguy's Technologies</td>
                                        <td>1 Jan 2013</td>
                                        <td>
                                            <span class="badge bg-inverse-success">Employee</span>
                                        </td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                                    aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-bs-toggle="modal"
                                                        data-bs-target="#edit_user"><i class="fa-solid fa-pencil m-r-5"></i>
                                                        Edit</a>
                                                    <a class="dropdown-item" data-bs-toggle="modal"
                                                        data-bs-target="#delete_user"><i class="fa-regular fa-trash-can m-r-5"></i>
                                                        Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a [routerLink] = "routes.employeeProfile" class="avatar"><img alt=""
                                                        src="assets/img/profiles/avatar-9.jpg"></a>
                                                <a [routerLink] = "routes.employeeProfile">Richard Miles
                                                    <span>Admin</span></a>
                                            </h2>
                                        </td>
                                        <td>richardmiles@example.com</td>
                                        <td>Dreamguy's Technologies</td>
                                        <td>1 Jan 2013</td>
                                        <td>
                                            <span class="badge bg-inverse-success">Employee</span>
                                        </td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                                    aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-bs-toggle="modal"
                                                        data-bs-target="#edit_user"><i class="fa-solid fa-pencil m-r-5"></i>
                                                        Edit</a>
                                                    <a class="dropdown-item" data-bs-toggle="modal"
                                                        data-bs-target="#delete_user"><i class="fa-regular fa-trash-can m-r-5"></i>
                                                        Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a [routerLink] = "routes.employeeProfile" class="avatar"><img alt=""
                                                        src="assets/img/profiles/avatar-10.jpg"></a>
                                                <a [routerLink] = "routes.employeeProfile">John Smith <span>Android
                                                        Developer</span></a>
                                            </h2>
                                        </td>
                                        <td>johnsmith@example.com</td>
                                        <td>Dreamguy's Technologies</td>
                                        <td>1 Jan 2013</td>
                                        <td>
                                            <span class="badge bg-inverse-success">Employee</span>
                                        </td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                                    aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-bs-toggle="modal"
                                                        data-bs-target="#edit_user"><i class="fa-solid fa-pencil m-r-5"></i>
                                                        Edit</a>
                                                    <a class="dropdown-item" data-bs-toggle="modal"
                                                        data-bs-target="#delete_user"><i class="fa-regular fa-trash-can m-r-5"></i>
                                                        Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a [routerLink] = "routes.employeeProfile" class="avatar"><img alt=""
                                                        src="assets/img/profiles/avatar-5.jpg"></a>
                                                <a [routerLink] = "routes.employeeProfile">Mike Litorus <span>IOS
                                                        Developer</span></a>
                                            </h2>
                                        </td>
                                        <td>mikelitorus@example.com</td>
                                        <td>Dreamguy's Technologies</td>
                                        <td>1 Jan 2013</td>
                                        <td>
                                            <span class="badge bg-inverse-success">Employee</span>
                                        </td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                                    aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-bs-toggle="modal"
                                                        data-bs-target="#edit_user"><i class="fa-solid fa-pencil m-r-5"></i>
                                                        Edit</a>
                                                    <a class="dropdown-item" data-bs-toggle="modal"
                                                        data-bs-target="#delete_user"><i class="fa-regular fa-trash-can m-r-5"></i>
                                                        Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a [routerLink] = "routes.employeeProfile" class="avatar"><img alt=""
                                                        src="assets/img/profiles/avatar-11.jpg"></a>
                                                <a [routerLink] = "routes.employeeProfile">Wilmer Deluna <span>Team
                                                        Leader</span></a>
                                            </h2>
                                        </td>
                                        <td>wilmerdeluna@example.com</td>
                                        <td>Dreamguy's Technologies</td>
                                        <td>1 Jan 2013</td>
                                        <td>
                                            <span class="badge bg-inverse-success">Employee</span>
                                        </td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                                    aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-bs-toggle="modal"
                                                        data-bs-target="#edit_user"><i class="fa-solid fa-pencil m-r-5"></i>
                                                        Edit</a>
                                                    <a class="dropdown-item" data-bs-toggle="modal"
                                                        data-bs-target="#delete_user"><i class="fa-regular fa-trash-can m-r-5"></i>
                                                        Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a [routerLink] = "routes.employeeProfile" class="avatar"><img
                                                        src="assets/img/profiles/avatar-19.jpg" alt=""></a>
                                                <a [routerLink] = "routes.employeeProfile">Barry Cuda <span>Global
                                                        Technologies</span></a>
                                            </h2>
                                        </td>
                                        <td>barrycuda@example.com</td>
                                        <td>Global Technologies</td>
                                        <td>1 Jan 2013</td>
                                        <td>
                                            <span class="badge bg-inverse-info">Client</span>
                                        </td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                                    aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-bs-toggle="modal"
                                                        data-bs-target="#edit_user"><i class="fa-solid fa-pencil m-r-5"></i>
                                                        Edit</a>
                                                    <a class="dropdown-item" data-bs-toggle="modal"
                                                        data-bs-target="#delete_user"><i class="fa-regular fa-trash-can m-r-5"></i>
                                                        Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- /Content End -->

</div>
<!-- /Page Content -->