<app-employee-modal></app-employee-modal>
<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Employee</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active">Employee</li>
                </ul>
            </div>
            <div class="col-auto float-end ms-auto">
                <a class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_employee"><i class="fa-solid fa-plus"></i>
                    Add Employee</a>
                <div class="view-icons">
                    <a [routerLink]="'/employees/employee-page'" class="grid-view btn btn-link active"><i
                            class="fa fa-th"></i></a>
                    <a [routerLink]="'/employees/employee-list'" class="list-view btn btn-link"><i
                            class="fa-solid fa-bars"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3">
            <div class="input-block mb-3 form-focus inputs">
                <mat-form-field class="example-full-width">
                    <mat-label>Employee ID</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class=" col-sm-6 col-md-3">
            <div class="input-block mb-3 form-focus inputs">
                <mat-form-field class="example-full-width">
                    <mat-label>Employee Name</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="input-block mb-3 form-focus select-focus select">
                <mat-form-field appearance="fill">
                    <mat-label>Designation</mat-label>
                    <mat-select [(value)]="selected">
                      <mat-option value="option1">Select Designation</mat-option>
                      <mat-option value="option2">Web Developer</mat-option>
                      <mat-option value="option3">Web Designer</mat-option>
                      <mat-option value="option4">Android Developer</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <a class="btn btn-success w-100"> Search </a>
        </div>
    </div>
    <!-- Search Filter -->

    <div class="row staff-grid-row">
        <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3" *ngFor="let emp of lstEmployee;let i = index">
            <div class="profile-widget">
                <div class="profile-img">
                    <a [routerLink] = "routes.employeeProfile" class="avatar"><img
                            [src]="emp.img" alt=""></a>
                </div>
                <div class="dropdown profile-action">
                    <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i
                            class="material-icons">more_vert</i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#edit_employee"><i
                                class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#delete_employee"><i
                                class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
                    </div>
                </div>
                <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a
                    [routerLink] = "routes.employeeProfile">{{emp.firstname}}</a>
                </h4>
                <div class="small text-muted">{{emp.designation}}</div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->