.team-member {
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-member:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
  background-color: #6f42c1;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.card-title {
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 20px;
}

.card-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.icon {
  color: #6f42c1;
  font-size: 1.5em;
  transition: color 0.3s;
}

.icon:hover {
  color: #4f10c4;
}
