<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Create Estimate</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active">Create Estimate</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <form [formGroup]="addEstimateForm">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="input-block mb-3">
                            <label class="col-form-label" for="">Client <span class="text-danger">*</span></label>
                            <mat-select [(value)]="selected1" class=" form-control" name="client" [class.invalid]="addEstimateForm.get('client')?.invalid && addEstimateForm.get('client')?.touched"
                            formControlName="client" placeholder="Please Select">
                                <mat-option value="option1">Please Select</mat-option>
                                <mat-option value="option2" >Barry Cuda</mat-option>
                                <mat-option value="option3">Tressa Wexler</mat-option>
                            </mat-select>
                            <div
                            *ngIf="addEstimateForm.get('client')?.invalid && addEstimateForm.get('client')?.touched">
                            <small
                                *ngIf="addEstimateForm.get('client')?.invalid && addEstimateForm.get('client')?.touched"
                                class="text-danger"> *Client is required</small>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="input-block mb-3">
                            <label class="col-form-label" for="">Project <span class="text-danger">*</span></label>
                            <mat-select   class=" form-control" name="Project" [class.invalid]="addEstimateForm.get('project')?.invalid && addEstimateForm.get('project')?.touched"
                            formControlName="project" placeholder="Select Project">
                                <mat-option>Select Project</mat-option>
                                <mat-option>Office Management</mat-option>
                                <mat-option>Project Management</mat-option>
                            </mat-select>
                            <div
                            *ngIf="addEstimateForm.get('project')?.invalid && addEstimateForm.get('project')?.touched">
                            <small
                                *ngIf="addEstimateForm.get('project')?.invalid && addEstimateForm.get('project')?.touched"
                                class="text-danger"> *Project is required</small>
                        </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="input-block mb-3">
                            <label class="col-form-label" for="">Email</label>
                            <input class="form-control" type="email" name="email" [class.invalid]="addEstimateForm.get('email')?.invalid && addEstimateForm.get('email')?.touched"
                             formControlName="email">
                            <div
                            *ngIf="addEstimateForm.get('email')?.invalid && addEstimateForm.get('email')?.touched">
                            <small
                                *ngIf="addEstimateForm.get('email')?.invalid && addEstimateForm.get('email')?.touched"
                                class="text-danger"> *Email is required</small>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="input-block mb-3">
                            <label class="col-form-label" for="">Tax</label>
                            <mat-select   class="form-control" name="tax" [class.invalid]="addEstimateForm.get('tax')?.invalid && addEstimateForm.get('tax')?.touched"
                            formControlName="tax" placeholder="Select Tax">
                                <mat-option>Select Tax</mat-option>
                                <mat-option>VAT</mat-option>
                                <mat-option>GST</mat-option>
                                <mat-option>No Tax</mat-option>
                            </mat-select>
                            <div
                            *ngIf="addEstimateForm.get('tax')?.invalid && addEstimateForm.get('tax')?.touched">
                            <small
                                *ngIf="addEstimateForm.get('tax')?.invalid && addEstimateForm.get('tax')?.touched"
                                class="text-danger"> *Tax is required</small>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="input-block mb-3">
                            <label class="col-form-label" for="">Client Address</label>
                            <textarea class="form-control" rows="3" name="tax" [class.invalid]="addEstimateForm.get('client_address')?.invalid && addEstimateForm.get('client_address')?.touched"
                             formControlName="client_address"></textarea>
                             <div
                             *ngIf="addEstimateForm.get('client_address')?.invalid && addEstimateForm.get('client_address')?.touched">
                             <small
                                 *ngIf="addEstimateForm.get('client_address')?.invalid && addEstimateForm.get('client_address')?.touched"
                                 class="text-danger"> *Client address is required</small>
                         </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="input-block mb-3">
                            <label class="col-form-label" for="">Billing Address</label>
                            <textarea class="form-control" rows="3" name="tax" [class.invalid]="addEstimateForm.get('billing_address')?.invalid && addEstimateForm.get('billing_address')?.touched"
                             formControlName="billing_address"></textarea>
                            <div
                            *ngIf="addEstimateForm.get('billing_address')?.invalid && addEstimateForm.get('billing_address')?.touched">
                            <small
                                *ngIf="addEstimateForm.get('billing_address')?.invalid && addEstimateForm.get('billing_address')?.touched"
                                class="text-danger"> *Billing address is required</small>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="input-block mb-3">
                            <label class="col-form-label" for="">Estimate Date <span class="text-danger">*</span></label>
                            <div class="cal-icon">
                                <input class="form-control datetimepicker" type="text" name="tax"  [class.invalid]="addEstimateForm.get('estimate_date')?.invalid && addEstimateForm.get('estimate_date')?.touched"
                                formControlName="estimate_date" bsDatepicker type="text" >
                                <div
                                *ngIf="addEstimateForm.get('estimate_date')?.invalid && addEstimateForm.get('estimate_date')?.touched">
                                <small
                                    *ngIf="addEstimateForm.get('estimate_date')?.invalid && addEstimateForm.get('estimate_date')?.touched"
                                    class="text-danger"> *Estimate date is required</small>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="input-block mb-3">
                            <label class="col-form-label" for="">Expiry Date <span class="text-danger">*</span></label>
                            <div class="cal-icon">
                                <input class="form-control datetimepicker" type="text" name="expiry" [class.invalid]="addEstimateForm.get('expiry_date')?.invalid && addEstimateForm.get('expiry_date')?.touched"
                                formControlName="expiry_date" bsDatepicker type="text">
                            </div>
                            <div
                            *ngIf="addEstimateForm.get('expiry_date')?.invalid && addEstimateForm.get('expiry_date')?.touched">
                            <small
                                *ngIf="addEstimateForm.get('expiry_date')?.invalid && addEstimateForm.get('expiry_date')?.touched"
                                class="text-danger"> *Expiry date is required</small>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-white">
                                <thead>
                                    <tr>
                                        <th style="width: 20px">#</th>
                                        <th class="col-sm-2">Item</th>
                                        <th class="col-md-6">Description</th>
                                        <th style="width:100px;">Unit Cost</th>
                                        <th style="width:80px;">Qty</th>
                                        <th>Amount</th>
                                        <th> </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let Exp of expArray; let i = index">
                                        
                                            <td>{{i+ 1}}</td>
                                            <td>
                                                <input class="form-control" name="item"  type="text" style="min-width:150px">
                                            </td>
                                            <td>
                                                <input class="form-control"  type="text" style="min-width:150px">
                                            </td>
                                            <td>
                                                <input class="form-control"  style="width:100px" type="text" >
                                            </td>
                                            <td>
                                                <input class="form-control" style="width:80px" type="text" >
                                            </td>
                                            <td>
                                                <input class="form-control"  readonly style="width:120px" type="text">
                                            </td>
                                            <td><a  class="text-success font-18" title="Add"><i
												(click)="addExp()" (keydown.enter)="addExp()" tabindex="0" class="fa-solid fa-plus"></i></a></td>
                                             <td >
                                                <a  class="text-danger font-18" title="Remove">
                                                    <i (keydown.enter)="deleteExp(i)" tabindex="0" class="fa-regular fa-trash-can"></i>
                                                </a>
                                            </td>
                                        
                                    </tr>
                                 
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover table-white">
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-end">Total</td>
                                        <td style="text-align: right; padding-right: 30px;width: 230px"><input class="form-control text-end"  readonly type="text" [class.invalid]="addEstimateForm.get('totalamount')?.invalid && addEstimateForm.get('totalamount')?.touched"
                                            formControlName="totalamount"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="text-end">Tax</td>
                                        <td style="text-align: right; padding-right: 30px;width: 230px">
                                            <input class="form-control text-end" value="5%" readonly type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="text-end">
                                            Discount %
                                        </td>
                                        <td style="text-align: right; padding-right: 30px;width: 230px">
                                            <input class="form-control text-end" type="text" [class.invalid]="addEstimateForm.get('discount')?.invalid && addEstimateForm.get('discount')?.touched"
                                            formControlName="discount"  >
                                            <div
                                            *ngIf="addEstimateForm.get('discount')?.invalid && addEstimateForm.get('discount')?.touched">
                                            <small
                                                *ngIf="addEstimateForm.get('discount')?.invalid && addEstimateForm.get('discount')?.touched"
                                                class="text-danger"> *Discount is required</small>
                                        </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" style="text-align: right; font-weight: bold">
                                            Grand Total
                                        </td>
                                        <td
                                            style="text-align: right; padding-right: 30px; font-weight: bold; font-size: 16px;width: 230px">
                                            <input class="form-control text-end"  readonly type="text" [class.invalid]="addEstimateForm.get('grandTotal')?.invalid && addEstimateForm.get('grandTotal')?.touched"
                                            formControlName="grandTotal">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-block mb-3">
                                    <label class="col-form-label" for="">Other Information</label>
                                    <textarea class="form-control" rows="4" [class.invalid]="addEstimateForm.get('other_information')?.invalid && addEstimateForm.get('other_information')?.touched"
                                    formControlName="other_information"></textarea>
                                    <div
                                    *ngIf="addEstimateForm.get('other_information')?.invalid && addEstimateForm.get('other_information')?.touched">
                                    <small
                                        *ngIf="addEstimateForm.get('other_information')?.invalid && addEstimateForm.get('other_information')?.touched"
                                        class="text-danger"> *Other information is required</small>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="submit-section">
                    <button  class="btn btn-primary submit-btn m-r-10 me-2">Save & Send</button>
                    <button  class="btn btn-primary submit-btn" >Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Page Content -->