    <!-- Page Content -->
    <div class="content container-fluid">
        
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Aptitude</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink] = "routes.admin">Dashboard</a></li>
                        <li class="breadcrumb-item ">Jobs</li>
                        <li class="breadcrumb-item">Interviewing</li>
                        <li class="breadcrumb-item active">Aptitude</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        
        <!-- Content Starts -->
        <div class="card">
            <div class="card-body">
                <!-- <h4 class="card-title">Solid justified</h4> -->
                <ul class="nav nav-tabs nav-tabs-solid nav-justified">
                    <li class="nav-item"><a class="nav-link" [routerLink] ="routes.userDashboard">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="routes.userAllJobs">All </a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="routes.savedJobs">Saved</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="routes.appliedJobs">Applied</a></li>
                    <li class="nav-item"><a class="nav-link active" [routerLink]="routes.interviewJobs">Interviewing</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="routes.offeredJobs">Offered</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="routes.visitedJobs">Visitied </a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="routes.archivedJobs">Archived </a></li>
                </ul>
            </div>
        </div>	
        
        <div class="quiz-wizard">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card">
                <div class="card-body">
                    <div class="" id="myWizard">
                        <div style="display:none;" class="navbar">
                            <div class="navbar-inner">
                                <ul class="nav nav-pills">
                                    <li class="active"><a href="#step1" data-bs-toggle="tab" data-step="1">Step 1</a></li>
                                    <li class=""><a href="#step2" data-bs-toggle="tab" data-step="2">Step 2</a></li>
                                    <li class=""><a href="#step3" data-bs-toggle="tab" data-step="3">Step 3</a></li>
                                    <li class=""><a href="#step4" data-bs-toggle="tab" data-step="4">Step 4</a></li>
                                    <li class=""><a href="#step5" data-bs-toggle="tab" data-step="5">Step 5</a></li>
                                    <li class=""><a href="#step6" data-bs-toggle="tab" data-step="6">Step 6</a></li>
                                    <li class=""><a href="#step7" data-bs-toggle="tab" data-step="7">Step 7</a></li>
                                    <li class=""><a href="#step8" data-bs-toggle="tab" data-step="8">Step 8</a></li>
                                    <li class=""><a href="#step9" data-bs-toggle="tab" data-step="9">Step 9</a></li>
                                    <li class=""><a href="#step10" data-bs-toggle="tab" data-step="10">Step 10</a></li>
                                </ul>
                            </div>
                        </div>
                        <form method="post" id="quiz_answer">
                            <div class="tab-content pt-0">
                              <div class="tab-pane active" id="step1">
                                <div class="row">
                                  <div class="col-md-12 mb-3">
                                    <div class="">
                                      <h4 class="mb-4 text-dark"><span>{{ currentQuestionIndex + 1 }}.</span> {{ questions[currentQuestionIndex].question }}</h4>
                          
                                      <div class="row">
                                        <div class="col-md-6" *ngFor="let option of questions[currentQuestionIndex].options; let i = index">
                                          <label class="question-radio text-secondary">
                                            <input type="radio" [name]="'answer[' + currentQuestionIndex + ']'" [value]="i">
                                            <span class="checkmark"></span>
                                            {{ option }}
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="text-start mt-3">
                                      <ng-container *ngIf="currentQuestionIndex === questions.length - 1; else nextButton">
                                        <button class="btn btn-success btn-lg submit-btn mt-3"  (click)="finishQuiz()" data-bs-toggle="modal" data-bs-target="#free_question_modal"  type="button">Finish</button>
                                      </ng-container>
                                      <ng-template #nextButton>
                                        <a  (click)="nextQuestion()" class="btn btn-primary btn-lg submit-btn" (keydown.enter)="nextQuestion()" tabindex="0">Next</a>
                                      </ng-template>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- /Content End -->
        
    </div>
    <!-- /Page Content -->
   <div class="modal question-modal" id="free_question_modal" tabindex="-1" role="dialog" *ngIf="finishButtonClicked">
	<div class="modal-dialog modal-dialog-centered	" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="mb-0">Result for Your Questions</h3>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div class="form-horzontal">
					<div class="col-md-12">
						<div class="text-start mb-3">
							<h3 class="mb-0">Correct Answers : <span class="text-success"><b>5</b></span></h3>
						</div>
						<div class="text-start">
							<h3 class="mb-0">Wrong Answer : <span class="text-danger"><b>1</b></span></h3>
						</div>
					</div>
				</div>
				<div class="mt-3">
				<p>Please click Next to move main menu.</p>
				<a [routerLink]="routes.jobAptitude" class="btn btn-primary btn-lg submit-btn">Next</a>
			</div>
			</div>
			
		</div>
	</div>
</div>
