<!-- Sidebar -->
<div class="sidebar" (mouseover)="miniSideBarMouseHover('over')" (mouseout)="miniSideBarMouseHover('out')"
    (focus)="miniSideBarFocus('over')" (blur)="miniSideBarBlur('out')" id="sidebar">
    <ng-scrollbar>
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul class="sidebar-vertical">
                    <ng-container *ngFor="let mainTittle of side_bar_data">
                        <li class="menu-title">
                            <span>{{ mainTittle.tittle }}</span>
                        </li>
                        <ng-container *ngFor="let menu of mainTittle?.menu">
                            <li class="custom-style" [class.active]="base === menu.base"
                                *ngIf="menu?.hasSubRoute === false">
                                <a [routerLink]="menu?.route"><i [class]="'la la-' + menu.icon"></i>
                                    <span>{{ menu?.menuValue }}</span>
                                    <span *ngIf="menu.changeLogVersion === true"
                                        class="badge badge-primary ms-auto">v3.4</span>
                                </a>
                            </li>
                            <li class="submenu" *ngIf="menu.hasSubRoute === true" [class.active]="base === menu.base">
                                <a href="javascript:void(0)" (click)="expandSubMenus(menu)"  (keydown.enter)="expandSubMenus(menu)" tabindex="0" [ngClass]="{
                                'subdrop': menu.showSubRoute === true,
                                'noti-dot': menu.dot === true
                              }">
                                    <i [class]="'la la-' + menu.icon"></i>
                                    <span>{{ menu.menuValue }}</span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul [ngClass]="
                                menu.showSubRoute === true
                                ? 'show-sub-menu'
                                : 'hide-sub-menu'
                            ">
                                    <ng-container *ngFor="let subMenus of menu.subMenus">
                                        <li>
                                            <a [routerLink]="subMenus.route"
                                                [class.active]="page === subMenus.base || page === subMenus.base2 || page === subMenus.base3 || page === subMenus.base4 || page === subMenus.base5 || page === subMenus.base6 || page === subMenus.base7 || page === subMenus.base8">
                                                <span *ngIf="subMenus.currentActive === true"
                                                    class="badge rounded-pill bg-primary float-end">1</span>
                                                {{ subMenus.menuValue }}</a>
                                        </li>
                                    </ng-container>
                                </ul>
                            </li>
                        </ng-container>
                    </ng-container>
                    <li class="submenu">
                        <a [ngClass]="{ subdrop: multilevel[0] }" (click)="multilevel[0] = !multilevel[0]"
                            href="javascript:void(0);"><i class="la la-share-alt"></i> <span>Multi Level</span> <span
                                class="menu-arrow"></span></a>
                        <ul [ngClass]="
                    multilevel[0] === true
                    ? 'd-block'
                    : 'd-none'
                ">
                            <li class="submenu">
                                <a [ngClass]="{ subdrop: multilevel[1] }" (click)="multilevel[1] = !multilevel[1]"
                                    href="javascript:void(0);"><span>Level 1</span> <span class="menu-arrow"></span></a>
                                <ul [ngClass]="
                        multilevel[1] === true
                        ? 'd-block'
                        : 'd-none'
                    ">
                                    <li><a href="javascript:void(0);"><span>Level 2</span></a></li>
                                    <li class="submenu">
                                        <a [ngClass]="{ subdrop: multilevel[2] }"
                                            (click)="multilevel[2] = !multilevel[2]" href="javascript:void(0);"> <span>
                                                Level 2</span> <span class="menu-arrow"></span></a>
                                        <ul [ngClass]="
                            multilevel[2] === true
                            ? 'd-block'
                            : 'd-none'
                        ">
                                            <li><a href="javascript:void(0);">Level 3</a></li>
                                            <li><a href="javascript:void(0);">Level 3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="javascript:void(0);"><span>Level 2</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><span>Level 1</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </ng-scrollbar>
</div>