body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container-fluid {
  padding: 0;
}

.vh-100 {
  height: 100vh !important;
}

.bg-primary {
  background-color: #6f42c1 !important; /* Purple background */
}
.form-check-input:focus,
.form-control:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, 0.25); /* Purple focus shadow */
  border-color: #6f42c1;
}
/* Pagination Styling */
::ng-deep .ngb-pagination .page-link {
  color: #6f42c1; /* Purple text color for pagination links */
  border: none; /* Remove border */
  background: none; /* Remove background */
}

::ng-deep .ngb-pagination .page-item.active .page-link {
  background-color: #6f42c1; /* Purple background for active page */
  border-color: #6f42c1; /* Purple border for active page */
}

::ng-deep .ngb-pagination .page-link:hover {
  color: #563d7c; /* Darker purple on hover */
}

::ng-deep .ngb-pagination .page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, 0.25); /* Purple focus shadow */
  outline: none; /* Remove default outline */
}

::ng-deep .ngb-pagination .page-link:active {
  background-color: #6f42c1; /* Purple background for active state */
  border-color: #6f42c1; /* Purple border for active state */
}

::ng-deep .ngb-pagination .page-item.disabled .page-link {
  color: #6c757d; /* Gray color for disabled state */
}

::ng-deep .ngb-pagination .page-link:disabled {
  color: #6c757d; /* Gray color for disabled state */
}


 .form-control:focus,
  .form-select:focus {
    box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, 0.25);
    border-color: #6f42c1;
  }
  
  .btn-primary {
    background-color: #6f42c1;
    border-color: #6f42c1;
  }
  
  .btn-primary:hover {
    background-color: #563d7c;
    border-color: #563d7c;
  }

  

  .form-check-input:checked {
    background-color: #6f42c1; /* Purple color for active */
    border-color: #6f42c1;
  }
  
  .form-check-input:not(:checked) {
    background-color: #6c757d; /* Grey color for inactive */
    border-color: #6c757d;
  }
  
  .form-check-input {
    cursor: pointer;
  }
  
  .form-check-label {
    margin-left: 10px;
  }