<div class="account-content">
    <!-- Account Logo -->
    <div class="account-logo">
        <a [routerLink]="routes.adminDashboard"><img src="assets/img/logo2.png" alt="Dreamguy's Technologies"></a>
    </div>
    <div class="account-box">
        <div class="account-wrapper">
            <h3 class="account-title">Change Password</h3>
            <form>
                <div class="input-block mb-3">
                    <label class="col-form-label" for="">Old password</label>
                    <input type="password" class="form-control">
                </div>
                <div class="input-block mb-3">
                    <label class="col-form-label" for="">New password</label>
                    <input type="password" class="form-control">
                </div>
                <div class="input-block mb-3">
                    <label class="col-form-label" for="">Confirm password</label>
                    <input type="password" class="form-control">
                </div>
                <div class="submit-section mb-4">
                    <button class="btn btn-primary submit-btn">Update Password</button>
                </div>
            </form>
        </div>
    </div>
</div>