
<div class="account-page">
  <div class="main-wrapper">
    <div class="account-content">
      <a [routerLink]="routes.jobList" class="btn btn-primary apply-btn">Apply Job</a>
      <div class="container">
        <!-- Account Logo -->
        <div class="account-logo">
          <a href="javascript:void(0);"
            ><img src="assets/img/logo2.png" alt="Dreamguy's Technologies"
          /></a>
        </div>
        <!-- /Account Logo -->
    
        <div class="account-box">
          <div class="account-wrapper">
            <h3 class="account-title">Login</h3>
            <p class="account-subtitle">Access to our dashboard</p>
    
            <!-- Account Form -->
            <form [formGroup]="form" (ngSubmit)="submit()">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Email Address</label>
                <input class="form-control" type="text" formControlName="email" id="email" [ngClass]="{'is-invalid': f['email'].touched && f['email'].invalid}"/>
                
                <div *ngIf="f['email'].touched && f['email'].invalid" class="text-danger">
                    <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
                    <div *ngIf="f['email'].errors && f['email'].errors['email']">
                        Please, enter valid email address.
                    </div>
                </div>
              </div>
              <div class="input-block mb-3">
                <div class="row">
                  <div class="col">
                    <label class="col-form-label" for="">Password</label>
                  </div>
                  <div class="col-auto">
                    <a class="text-muted" [routerLink]="'/forgot-password'">
                      Forgot password?
                    </a>
                  </div>
                </div>
                  <div class="position-relative login-page">
                    <input class="form-control" [type]="Toggledata ? 'password' : 'text'" formControlName="password" id="password" [ngClass]="{'is-invalid': f['password'].touched && f['password'].invalid}"/>
                    <span [ngClass]="Toggledata === true ? 'fa toggle-password fa-eye-slash' : 'fa toggle-password fa-eye'" (click)="iconLogle()" (keydown.enter)="iconLogle()" tabindex="0"></span>
                </div>
                <div *ngIf="f['password'].touched && f['password'].invalid" class="text-danger">
                    <div *ngIf="f['password'].errors && f['password'].errors['required']">
                    Password is required.
                    </div>
                </div>
              </div>
              <div class="input-block mb-3 text-center">
                <button class="btn btn-primary account-btn" [disabled]="form.invalid" type="submit">Login</button>
              </div>
              <div class="account-footer">
                <p>Don't have an account yet? <a [routerLink]="'/register'">Register</a></p>
              </div>
            </form>
            <!-- /Account Form -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  