
<!-- Incoming Call -->
<div class="call-box incoming-box">
    <div class="call-wrapper">
        <div class="call-inner">
            <div class="call-user">
                <img alt="" src="assets/img/profiles/avatar-11.jpg" class="call-avatar">
                <h4>Wilmer Deluna</h4>
                <span>Calling ...</span>
            </div>
            <div class="call-items">
                <a [routerLink]="'/apps/chats'" class="btn call-item call-end"><i class="material-icons">call_end</i></a>
                <a [routerLink]="'/apps/video-call'" class="btn call-item call-start"><i class="material-icons">call</i></a>
            </div>
        </div>
    </div>
</div>
<!-- /Incoming Call -->
<app-call-modal></app-call-modal>